---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q2036942
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=62665 t=1459248806579915
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q2036942":{"pageid":1964716,"ns":0,"title":"Q2036942","lastrevid":316284580,"modified":"2016-03-28T16:42:29Z","type":"item","id":"Q2036942","labels":{"fr":{"language":"fr","value":"Ted
        Cruz"},"ru":{"language":"ru","value":"\u041a\u0440\u0443\u0437, \u0422\u0435\u0434"},"en":{"language":"en","value":"Ted
        Cruz"},"es":{"language":"es","value":"Ted Cruz"},"nl":{"language":"nl","value":"Ted
        Cruz"},"sh":{"language":"sh","value":"Ted Cruz"},"de":{"language":"de","value":"Ted
        Cruz"},"fa":{"language":"fa","value":"\u062a\u062f \u06a9\u0631\u0648\u0632"},"sv":{"language":"sv","value":"Ted
        Cruz"},"nb":{"language":"nb","value":"Ted Cruz"},"ja":{"language":"ja","value":"\u30c6\u30c3\u30c9\u30fb\u30af\u30eb\u30fc\u30ba"},"it":{"language":"it","value":"Ted
        Cruz"},"uk":{"language":"uk","value":"\u0422\u0435\u0434 \u041a\u0440\u0443\u0437"},"he":{"language":"he","value":"\u05d8\u05d3
        \u05e7\u05e8\u05d5\u05d6"},"ko":{"language":"ko","value":"\ud14c\ub4dc \ud06c\ub8e8\uc988"},"id":{"language":"id","value":"Ted
        Cruz"},"hu":{"language":"hu","value":"Ted Cruz"},"hy":{"language":"hy","value":"\u0539\u0565\u0564
        \u0554\u0580\u0578\u0582\u0566"},"ar":{"language":"ar","value":"\u062a\u064a\u062f
        \u0643\u0631\u0648\u0632"},"pt":{"language":"pt","value":"Ted Cruz"},"da":{"language":"da","value":"Ted
        Cruz"},"el":{"language":"el","value":"\u03a4\u03b5\u03bd\u03c4 \u039a\u03c1\u03bf\u03c5\u03b6"},"zh":{"language":"zh","value":"\u6cf0\u5fb7\u00b7\u79d1\u9c81\u5179"},"cs":{"language":"cs","value":"Ted
        Cruz"},"pl":{"language":"pl","value":"Ted Cruz"},"af":{"language":"af","value":"Ted
        Cruz"},"an":{"language":"an","value":"Ted Cruz"},"ast":{"language":"ast","value":"Ted
        Cruz"},"bar":{"language":"bar","value":"Ted Cruz"},"br":{"language":"br","value":"Ted
        Cruz"},"ca":{"language":"ca","value":"Ted Cruz"},"co":{"language":"co","value":"Ted
        Cruz"},"cy":{"language":"cy","value":"Ted Cruz"},"de-at":{"language":"de-at","value":"Ted
        Cruz"},"de-ch":{"language":"de-ch","value":"Ted Cruz"},"en-ca":{"language":"en-ca","value":"Ted
        Cruz"},"en-gb":{"language":"en-gb","value":"Ted Cruz"},"eo":{"language":"eo","value":"Ted
        Cruz"},"et":{"language":"et","value":"Ted Cruz"},"eu":{"language":"eu","value":"Ted
        Cruz"},"fi":{"language":"fi","value":"Ted Cruz"},"frp":{"language":"frp","value":"Ted
        Cruz"},"fur":{"language":"fur","value":"Ted Cruz"},"ga":{"language":"ga","value":"Ted
        Cruz"},"gd":{"language":"gd","value":"Ted Cruz"},"gl":{"language":"gl","value":"Ted
        Cruz"},"gsw":{"language":"gsw","value":"Ted Cruz"},"hr":{"language":"hr","value":"Ted
        Cruz"},"ia":{"language":"ia","value":"Ted Cruz"},"ie":{"language":"ie","value":"Ted
        Cruz"},"io":{"language":"io","value":"Ted Cruz"},"is":{"language":"is","value":"Ted
        Cruz"},"kg":{"language":"kg","value":"Ted Cruz"},"lb":{"language":"lb","value":"Ted
        Cruz"},"li":{"language":"li","value":"Ted Cruz"},"lij":{"language":"lij","value":"Ted
        Cruz"},"mg":{"language":"mg","value":"Ted Cruz"},"min":{"language":"min","value":"Ted
        Cruz"},"ms":{"language":"ms","value":"Ted Cruz"},"nap":{"language":"nap","value":"Ted
        Cruz"},"nds":{"language":"nds","value":"Ted Cruz"},"nds-nl":{"language":"nds-nl","value":"Ted
        Cruz"},"nn":{"language":"nn","value":"Ted Cruz"},"nrm":{"language":"nrm","value":"Ted
        Cruz"},"oc":{"language":"oc","value":"Ted Cruz"},"pcd":{"language":"pcd","value":"Ted
        Cruz"},"pms":{"language":"pms","value":"Ted Cruz"},"pt-br":{"language":"pt-br","value":"Ted
        Cruz"},"rm":{"language":"rm","value":"Ted Cruz"},"ro":{"language":"ro","value":"Ted
        Cruz"},"sc":{"language":"sc","value":"Ted Cruz"},"scn":{"language":"scn","value":"Ted
        Cruz"},"sco":{"language":"sco","value":"Ted Cruz"},"sk":{"language":"sk","value":"Ted
        Cruz"},"sl":{"language":"sl","value":"Ted Cruz"},"sr-el":{"language":"sr-el","value":"Ted
        Cruz"},"sw":{"language":"sw","value":"Ted Cruz"},"tr":{"language":"tr","value":"Ted
        Cruz"},"vec":{"language":"vec","value":"Ted Cruz"},"vi":{"language":"vi","value":"Ted
        Cruz"},"vls":{"language":"vls","value":"Ted Cruz"},"vo":{"language":"vo","value":"Ted
        Cruz"},"wa":{"language":"wa","value":"Ted Cruz"},"wo":{"language":"wo","value":"Ted
        Cruz"},"zu":{"language":"zu","value":"Ted Cruz"},"bn":{"language":"bn","value":"\u09b0\u09be\u09ab\u09be\u09af\u09bc\u09c7\u09b2
        \u098f\u09a1\u0993\u09af\u09bc\u09be\u09b0\u09cd\u09a1 \u0995\u09cd\u09b0\u09c1\u099c"},"azb":{"language":"azb","value":"\u062a\u062f
        \u06a9\u0631\u0648\u0632"},"nov":{"language":"nov","value":"Ted Cruz"},"ka":{"language":"ka","value":"\u10e2\u10d4\u10d3
        \u10d9\u10e0\u10e3\u10d6\u10d8"},"sgs":{"language":"sgs","value":"Teds Kr\u016bzos"}},"descriptions":{"de":{"language":"de","value":"US-amerikanischer
        Politiker der Republikanischen Partei"},"en":{"language":"en","value":"American
        politician"},"fr":{"language":"fr","value":"politicien am\u00e9ricain"},"es":{"language":"es","value":"pol\u00edtico
        estadounidense"},"nl":{"language":"nl","value":"Canadees politicus"}},"aliases":{"ru":[{"language":"ru","value":"\u0422\u0435\u0434
        \u041a\u0440\u0443\u0437"}],"en":[{"language":"en","value":"Rafael Edward
        Cruz"}],"es":[{"language":"es","value":"Rafael Edward Cruz"}]},"claims":{"P19":[{"mainsnak":{"snaktype":"value","property":"P19","datavalue":{"value":{"entity-type":"item","numeric-id":8564404},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q2036942$76d1ef95-4b75-aca7-b1a6-7551d416b078","rank":"preferred","references":[{"hash":"355beec27d8e6707ea3cf4a561cab98ed31c942c","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://calgaryherald.com/news/local-news/birthplace-of-president-ted-cruz-calgary-homeowner-hopes-it-never-happens","type":"string"},"datatype":"url"}],"P1476":[{"snaktype":"value","property":"P1476","datavalue":{"value":{"text":"Birthplace
        of President Ted Cruz? Calgary homeowner hopes it never happens","language":"en-ca"},"type":"monolingualtext"},"datatype":"monolingualtext"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2015-05-09T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":1026672},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P854","P1476","P577","P248"]}]}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q2036942$6D036A07-62F2-4EE5-9983-CF2C2A5311D3","rank":"normal","references":[{"hash":"004ec6fbee857649acdbdbad4f97b2c8571df97b","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":16},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P582":[{"snaktype":"somevalue","property":"P582","hash":"cfd28d592bad8e17a97cc614b65d871234118fac","datatype":"time"}]},"qualifiers-order":["P582"],"id":"Q2036942$0c7697fd-45d5-2da2-1ce2-414be7686d8a","rank":"normal","references":[{"hash":"5a65a6e91d1d524ceb56d178c48275aa53cd9d69","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://abcnews.go.com/blogs/politics/2013/12/ted-cruz-can-renounce-his-canadian-citizenship-with-this-4-page-form/","type":"string"},"datatype":"url"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2013-12-31T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P1476":[{"snaktype":"value","property":"P1476","datavalue":{"value":{"text":"Ted
        Cruz Can Renounce His Canadian Citizenship With This 4-Page Form","language":"en"},"type":"monolingualtext"},"datatype":"monolingualtext"}]},"snaks-order":["P854","P813","P147[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q8564404%7CQ1026672%7CQ6581097%7CQ48183%7CQ16%7CQ30%7CQ82955%7CQ328%7CQ40348%7CQ13217683%7CQ1439%7CQ239928%7CQ29468%7CQ8447%7CQ21578%7CQ49122%7CQ2349578%7CQ5%7CQ15241312%7CQ10000%7CQ1737211%7CQ16424000%7CQ278835%7CQ923342%7CQ1860%7CQ356%7CQ866%7CQ3039938%7CQ19881031%7CQ20155387%7CQ20651139%7CQ20155390%7CQ20165784%7CQ1765120%7CQ1540185
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=1043667 t=1459248807020129
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q8564404":{"pageid":8537931,"ns":0,"title":"Q8564404","lastrevid":311489132,"modified":"2016-03-09T19:20:25Z","type":"item","id":"Q8564404","labels":{"en":{"language":"en","value":"Foothills
        Medical Centre"},"cs":{"language":"cs","value":"Foothills Medical Centre"}},"descriptions":{},"aliases":{},"claims":{"P625":[{"mainsnak":{"snaktype":"value","property":"P625","datavalue":{"value":{"latitude":51.0654,"longitude":-114.133,"altitude":null,"precision":null,"globe":"http://www.wikidata.org/entity/Q2"},"type":"globecoordinate"},"datatype":"globe-coordinate"},"type":"statement","id":"q8564404$0F3FB7BC-DAF8-44EC-86C4-3E814C96793C","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P17":[{"mainsnak":{"snaktype":"value","property":"P17","datavalue":{"value":{"entity-type":"item","numeric-id":16},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q8564404$FDFE7491-0754-4AA3-ADE5-6AF0473342B5","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P131":[{"mainsnak":{"snaktype":"value","property":"P131","datavalue":{"value":{"entity-type":"item","numeric-id":1951},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q8564404$BB4DB31F-6552-418C-B5BE-EA57B461E14C","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":16917},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q8564404$CE8944DA-CBF5-460C-A06D-613366FAEDA3","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]},{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":502074},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q8564404$C628BCC7-1ECC-4EDA-B8F5-900E61AE4574","rank":"normal"}],"P935":[{"mainsnak":{"snaktype":"value","property":"P935","datavalue":{"value":"Foothills
        Medical Centre","type":"string"},"datatype":"string"},"type":"statement","id":"Q8564404$7E9D5BC4-1018-4855-A9FC-042872BA201D","rank":"normal"}],"P2427":[{"mainsnak":{"snaktype":"value","property":"P2427","datavalue":{"value":"grid.414959.4","type":"string"},"datatype":"string"},"type":"statement","id":"Q8564404$76D6B335-1F69-46E8-AF2E-157B9DAF5695","rank":"normal","references":[{"hash":"e2a60ad077886c44a9be6569ac9d888cf51660a5","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"https://figshare.com/articles/GRID_release_2015_12_14/2010108","type":"string"},"datatype":"url"}]},"snaks-order":["P854"]}]}]},"sitelinks":{"commonswiki":{"site":"commonswiki","title":"Foothills
        Medical Centre","badges":[]},"enwiki":{"site":"enwiki","title":"Foothills
        Medical Centre","badges":[]}}},"Q1026672":{"pageid":975960,"ns":0,"title":"Q1026672","lastrevid":294592020,"modified":"2016-01-22T17:13:21Z","type":"item","id":"Q1026672","labels":{"fr":{"language":"fr","value":"The
        Calgary Herald"},"en":{"language":"en","value":"Calgary Herald"},"pt":{"language":"pt","value":"Calgary
        Herald"},"de":{"language":"de","value":"Calgary Herald"},"sw":{"language":"sw","value":"Calgary
        Herald"},"es":{"language":"es","value":"Calgary Herald"},"nl":{"language":"nl","value":"Calgary
        Herald"}},"descriptions":{"en":{"language":"en","value":"newspaper"}},"aliases":{"fr":[{"language":"fr","value":"Calgary
        Herald"}]},"claims":{"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/05fmr3","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q1026672$89836ACA-EDBF-46C8-9488-EA506C5F157F","rank":"normal","references":[{"hash":"af38848ab5d9d9325cffd93a5ec656cc6ca889ed","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":11032},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1026672$E0B0A857-7C1B-4D18-9541-243C0CE9F02E","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P236":[{"mainsnak":{"snaktype":"value","property":"P236","datavalue":{"value":"1197-2823","type":"string"},"datatype":"string"},"type":"statement","id":"Q1026672$4F488501-B0BE-4C9E-BA64-EEF98890895F","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P856":[{"mainsnak":{"snaktype":"value","property":"P856","datavalue":{"value":"http://www.calgaryherald.com","type":"string"},"datatype":"url"},"type":"statement","id":"Q1026672$66A24C41-37C2-46D5-8B37-D5656683EBBB","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P1476":[{"mainsnak":{"snaktype":"value","property":"P1476","datavalue":{"value":{"text":"Calgary
        Herald","language":"en"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","id":"Q1026672$8AFF4E8C-7769-4BA6-9179-AC2B47602E5D","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}]},"sitelinks":{"dewiki":{"site":"dewiki","title":"Calgary
        Herald","badges":[]},"enwiki":{"site":"enwiki","title":"Calgary Herald","badges":[]},"eswiki":{"site":"eswiki","title":"Calgary
        Herald","badges":[]},"frwiki":{"site":"frwiki","title":"The Calgary Herald","badges":[]},"ptwiki":{"site":"ptwiki","title":"Calgary
        Herald","badges":[]},"swwiki":{"site":"swwiki","title":"Calgary Herald","badges":[]}}},"Q6581097":{"pageid":6406677,"ns":0,"title":"Q6581097","lastrevid":315861893,"modified":"2016-03-26T21:35:23Z","type":"item","id":"Q6581097","labels":{"fr":{"language":"fr","value":"masculin"},"en":{"language":"en","value":"male"},"fi":{"language":"fi","value":"mies"},"en-gb":{"language":"en-gb","value":"male"},"it":{"language":"it","value":"maschio"},"de":{"language":"de","value":"m\u00e4nnlich"},"sv":{"language":"sv","value":"man"},"cs":{"language":"cs","value":"mu\u017e"},"zh":{"language":"zh","value":"\u7537\u6027"},"zh-hans":{"language":"zh-hans","value":"\u7537\u6027"},"pl":{"language":"pl","value":"m\u0119\u017cczyzna"},"zh-hant":{"language":"zh-hant","value":"\u7537\u6027"},"ca":{"language":"ca","value":"home"},"pt-br":{"language":"pt-br","value":"masculino"},"ru":{"language":"ru","value":"\u043c\u0443\u0436\u0441\u043a\u043e\u0439"},"uk":{"language":"uk","value":"\u0447\u043e\u043b\u043e\u0432\u0456\u0447\u0430"},"pt":{"language":"pt","value":"masculino"},"el":{"language":"el","value":"\u03ac\u03bd\u03b4\u03c1\u03b1\u03c2"},"lv":{"language":"lv","value":"v\u012brietis"},"nl":{"language":"nl","value":"mannelijk"},"gl":{"language":"gl","value":"home"},"es":{"language":"es","value":"masculino"},"ko":{"language":"ko","value":"\ub0a8\uc131"},"be-tarask":{"language":"be-tarask","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0430\u044f"},"hu":{"language":"hu","value":"f\u00e9rfi"},"af":{"language":"af","value":"man"},"ja":{"language":"ja","value":"\u7537\u6027"},"eu":{"language":"eu","value":"gizonezkoa"},"he":{"language":"he","value":"\u05d6\u05db\u05e8"},"vi":{"language":"vi","value":"nam
        gi\u1edbi"},"id":{"language":"id","value":"pria"},"min":{"language":"min","value":"laki-laki"},"sl":{"language":"sl","value":"mo\u0161ki"},"ka":{"language":"ka","value":"\u10db\u10d0\u10db\u10e0\u10dd\u10d1\u10d8\u10d7\u10d8"},"fa":{"language":"fa","value":"\u0645\u0630\u06a9\u0631"},"ro":{"language":"ro","value":"b\u0103rbat"},"nb":{"language":"nb","value":"mann"},"be":{"language":"be","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0456"},"da":{"language":"da","value":"mand"},"uz":{"language":"uz","value":"erkak"},"sco":{"language":"sco","value":"male"},"mzn":{"language":"mzn","value":"\u0645\u0630\u06a9\u0631"},"sr":{"language":"sr","value":"\u043c\u0443\u0448\u043a\u0438"},"nds":{"language":"nds","value":"Mann"},"bn":{"language":"bn","value":"\u09aa\u09c1\u09b0\u09c1\u09b7"},"bs":{"language":"bs","value":"mu\u0161ki"},"ilo":{"language":"ilo","value":"lalaki"},"br":{"language":"br","value":"paotr"},"sq":{"language":"sq","value":"mashkull"},"nds-nl":{"language":"nds-nl","value":"man"},"la":{"language":"la","value":"masculinus"},"tr":{"language":"tr","value":"erkek"},"hr":{"language":"hr","value":"mu\u0161ko"},"nn":{"language":"nn","value":"mann"},"no":{"language":"no","value":"kar"},"bg":{"language":"bg","value":"\u043c\u044a\u0436\u043a\u0438"},"th":{"language":"th","value":"\u0e40\u0e1e\u0e28\u0e0a\u0e32\u0e22"},"gu":{"language":"gu","value":"\u0aaa\u0ac1\u0ab0\u0ac1\u0ab7"},"mr":{"language":"mr","value":"\u092a\u0941\u0930\u0942\u0937"},"eo":{"language":"eo","value":"vira"},"oc":{"language":"oc","value":"\u00f2me"},"ta":{"language":"ta","value":"\u0b86\u0ba3\u0bcd"},"mk":{"language":"mk","value":"\u043c\u0430\u0448\u043a\u0438"},"hi":{"language":"hi","value":"\u092a\u0941\u0930\u0941\u0937"},"en-ca":{"language":"en-ca","value":"male"},"rm":{"language":"rm","value":"masculin"},"yi":{"language":"yi","value":"\u05d6\u05db\u05e8"},"yue":{"language":"yue","value":"\u7537"},"zh-cn":{"language":"zh-cn","value":"\u7537\u6027"},"ar":{"language":"ar","value":"\u0630\u0643\u0631"},"tl":{"language":"tl","value":"lalaki"},"is":{"language":"is","value":"karlma\u00f0ur"},"zh-tw":{"language":"zh-tw","value":"\u7537\u6027"},"ksh":{"language":"ksh","value":"m\u00e4nnlesch"},"sk":{"language":"sk","value":"mu\u017e"},"hy":{"language":"hy","value":"\u0561\u0580\u0561\u056f\u0561\u0576"},"gsw":{"language":"gsw","value":"m\u00e4nnli"},"zh-hk":{"language":"zh-hk","value":"\u7537\u6027"},"te":{"language":"te","value":"\u0c2a\u0c41\u0c30\u0c41\u0c37\u0c41\u0c21\u0c41"},"tokipona":{"language":"tokipona","value":"mije"},"or":{"language":"or","value":"\u0b2a\u0b41\u0b30\u0b41\u0b37"},"ml":{"language":"ml","value":"\u0d2a\u0d41\u0d30\u0d41\u0d37\u0d7b"},"lb":{"language":"lb","value":"m\u00e4nnlech"},"sr-el":{"language":"sr-el","value":"mu\u0161ki"},"et":{"language":"et","value":"meessoost"},"fo":{"language":"fo","value":"ma\u00f0ur"},"lez":{"language":"lez","value":"\u0438\u0442\u0438\u043c\u0434\u0438\u043d"},"fy":{"language":"fy","value":"man"},"scn":{"language":"scn","value":"m\u00e0sculu"},"mg":{"language":"mg","value":"lehilahy"},"ce":{"language":"ce","value":"\u0431\u043e\u0436\u0430\u0440\u0438\u0439\u043d"},"ne":{"language":"ne","value":"\u092a\u0941\u0930\u0941\u0937"},"hsb":{"language":"hsb","value":"mu\u017e"},"sh":{"language":"sh","value":"mu\u0161karac"},"cy":{"language":"cy","value":"gwrywaidd"},"ckb":{"language":"ckb","value":"\u0646\u06ce\u0631"},"jbo":{"language":"jbo","value":"lo
        nakni"},"kn":{"language":"kn","value":"\u0caa\u0cc1\u0cb0\u0cc1\u0cb7"},"lt":{"language":"lt","value":"vyras"},"ast":{"language":"ast","value":"mascul\u00edn"},"pa":{"language":"pa","value":"\u0a2e\u0a30\u0a26"},"ps":{"language":"ps","value":"\u0646\u0627\u0631\u064a\u0646\u0647"}},"descriptions":{"fr":{"language":"fr","value":"\u00e9l\u00e9ment
        \u00e0 utiliser dans P21 pour signifier que la personne est de sexe masculin"},"en":{"language":"en","value":"human
        gender"},"fi":{"language":"fi","value":"k\u00e4ytet\u00e4\u00e4n ominaisuudessa
        P21 osoittamaan, ett\u00e4 kohteen aihe on miespuolinen"},"en-gb":{"language":"en-gb","value":"to
        be used in Property:P21 to indicate that th[...]
