---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q9175546
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q9175546":{"pageid":9260383,"ns":0,"title":"Q9175546","lastrevid":279750816,"modified":"2015-12-04T16:46:50Z","type":"item","id":"Q9175546","labels":{"pl":{"language":"pl","value":"Bogumi\u0142
        Borowski"},"en":{"language":"en","value":"Bogumi\u0142 Borowski"},"af":{"language":"af","value":"Bogumi\u0142
        Borowski"},"an":{"language":"an","value":"Bogumi\u0142 Borowski"},"ast":{"language":"ast","value":"Bogumi\u0142
        Borowski"},"bar":{"language":"bar","value":"Bogumi\u0142 Borowski"},"br":{"language":"br","value":"Bogumi\u0142
        Borowski"},"bs":{"language":"bs","value":"Bogumi\u0142 Borowski"},"ca":{"language":"ca","value":"Bogumi\u0142
        Borowski"},"co":{"language":"co","value":"Bogumi\u0142 Borowski"},"cs":{"language":"cs","value":"Bogumi\u0142
        Borowski"},"cy":{"language":"cy","value":"Bogumi\u0142 Borowski"},"da":{"language":"da","value":"Bogumi\u0142
        Borowski"},"de":{"language":"de","value":"Bogumi\u0142 Borowski"},"eo":{"language":"eo","value":"Bogumi\u0142
        Borowski"},"es":{"language":"es","value":"Bogumi\u0142 Borowski"},"et":{"language":"et","value":"Bogumi\u0142
        Borowski"},"eu":{"language":"eu","value":"Bogumi\u0142 Borowski"},"fi":{"language":"fi","value":"Bogumi\u0142
        Borowski"},"fr":{"language":"fr","value":"Bogumi\u0142 Borowski"},"fur":{"language":"fur","value":"Bogumi\u0142
        Borowski"},"ga":{"language":"ga","value":"Bogumi\u0142 Borowski"},"gd":{"language":"gd","value":"Bogumi\u0142
        Borowski"},"gl":{"language":"gl","value":"Bogumi\u0142 Borowski"},"gsw":{"language":"gsw","value":"Bogumi\u0142
        Borowski"},"hr":{"language":"hr","value":"Bogumi\u0142 Borowski"},"hu":{"language":"hu","value":"Bogumi\u0142
        Borowski"},"is":{"language":"is","value":"Bogumi\u0142 Borowski"},"it":{"language":"it","value":"Bogumi\u0142
        Borowski"},"lb":{"language":"lb","value":"Bogumi\u0142 Borowski"},"li":{"language":"li","value":"Bogumi\u0142
        Borowski"},"lij":{"language":"lij","value":"Bogumi\u0142 Borowski"},"lmo":{"language":"lmo","value":"Bogumi\u0142
        Borowski"},"lt":{"language":"lt","value":"Bogumi\u0142 Borowski"},"nap":{"language":"nap","value":"Bogumi\u0142
        Borowski"},"nb":{"language":"nb","value":"Bogumi\u0142 Borowski"},"nds":{"language":"nds","value":"Bogumi\u0142
        Borowski"},"nds-nl":{"language":"nds-nl","value":"Bogumi\u0142 Borowski"},"nl":{"language":"nl","value":"Bogumi\u0142
        Borowski"},"nn":{"language":"nn","value":"Bogumi\u0142 Borowski"},"pcd":{"language":"pcd","value":"Bogumi\u0142
        Borowski"},"pms":{"language":"pms","value":"Bogumi\u0142 Borowski"},"pt":{"language":"pt","value":"Bogumi\u0142
        Borowski"},"rm":{"language":"rm","value":"Bogumi\u0142 Borowski"},"ro":{"language":"ro","value":"Bogumi\u0142
        Borowski"},"sc":{"language":"sc","value":"Bogumi\u0142 Borowski"},"scn":{"language":"scn","value":"Bogumi\u0142
        Borowski"},"sco":{"language":"sco","value":"Bogumi\u0142 Borowski"},"sk":{"language":"sk","value":"Bogumi\u0142
        Borowski"},"sl":{"language":"sl","value":"Bogumi\u0142 Borowski"},"sq":{"language":"sq","value":"Bogumi\u0142
        Borowski"},"sv":{"language":"sv","value":"Bogumi\u0142 Borowski"},"tr":{"language":"tr","value":"Bogumi\u0142
        Borowski"},"vec":{"language":"vec","value":"Bogumi\u0142 Borowski"},"vls":{"language":"vls","value":"Bogumi\u0142
        Borowski"},"wa":{"language":"wa","value":"Bogumi\u0142 Borowski"}},"descriptions":{"en":{"language":"en","value":"Polish
        economist"}},"aliases":{"pl":[{"language":"pl","value":"Bogumi\u0142 Andrzej
        Borowski"}]},"claims":{"P570":[{"mainsnak":{"snaktype":"value","property":"P570","datavalue":{"value":{"time":"+2014-08-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":10,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q9175546$76929736-4668-e58e-7963-b384c2dc0b69","rank":"normal"}],"P102":[{"mainsnak":{"snaktype":"value","property":"P102","datavalue":{"value":{"entity-type":"item","numeric-id":953174},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q9175546$2A2FF021-4BF4-4CEC-90B1-B7A7F7D554CB","rank":"normal","references":[{"hash":"3e9859118d01bc62b5dbe8939be812333eb7c594","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":1551807},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q9175546$CA7E7519-16D2-449D-B60A-6D0DEB951ADB","rank":"normal"}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q9175546$F4674C13-B49E-4183-A57A-84040A36340A","rank":"normal"}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1943-07-23T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q9175546$4e90de9a-4244-01b2-0c8e-244773675524","rank":"normal"}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":188094},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q9175546$60CE5EC0-647D-4513-9816-54D58F8B0558","rank":"normal"}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":36},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q9175546$3ECDFCFC-1C6C-421F-8F30-E795ED0D8E83","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","datavalue":{"value":{"entity-type":"item","numeric-id":20010366},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q9175546$6EAF3CEE-9410-41B3-826B-41F962777D8B","rank":"normal"}],"P69":[{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":1718656},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q9175546$E64BACED-4AB0-41AB-8E4B-6B56786BE95A","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":681},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q9175546$47652F1B-7954-44EF-A175-AAFAEBD31AEE","rank":"normal"}]},"sitelinks":{"plwiki":{"site":"plwiki","title":"Bogumi\u0142
        Borowski","badges":[]}}}},"success":1}'
  recorded_at: Wed, 13 Jan 2016 17:09:35 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q953174%7CQ1551807%7CQ5%7CQ6581097%7CQ188094%7CQ36%7CQ20010366%7CQ1718656%7CQ681
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q953174":{"pageid":903059,"ns":0,"title":"Q953174","lastrevid":290968754,"modified":"2016-01-11T10:43:03Z","type":"item","id":"Q953174","labels":{"zh-hans":{"language":"zh-hans","value":"\u6c11\u4e3b\u5de6\u6d3e\u8054\u76df"},"zh-hant":{"language":"zh-hant","value":"\u6c11\u4e3b\u5de6\u6d3e\u806f\u76df"},"zh-hk":{"language":"zh-hk","value":"\u6c11\u4e3b\u5de6\u6d3e\u806f\u76df"},"eo":{"language":"eo","value":"Alianco
        de Demokrata Maldekstrularo"},"pl":{"language":"pl","value":"Sojusz Lewicy
        Demokratycznej"},"ru":{"language":"ru","value":"\u0421\u043e\u044e\u0437 \u0434\u0435\u043c\u043e\u043a\u0440\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0445
        \u043b\u0435\u0432\u044b\u0445 \u0441\u0438\u043b"},"fr":{"language":"fr","value":"Alliance
        de la gauche d\u00e9mocratique"},"es":{"language":"es","value":"Alianza de
        la Izquierda Democr\u00e1tica"},"en":{"language":"en","value":"Democratic
        Left Alliance"},"ca":{"language":"ca","value":"Alian\u00e7a de l''Esquerra
        Democr\u00e0tica"},"fi":{"language":"fi","value":"Demokraattisen vasemmiston
        liitto"},"lv":{"language":"lv","value":"Demokr\u0101tisk\u0101 kreiso savien\u012bba"},"it":{"language":"it","value":"Alleanza
        della Sinistra Democratica"},"gl":{"language":"gl","value":"Alianza da Esquerda
        Democr\u00e1tica"},"de":{"language":"de","value":"Sojusz Lewicy Demokratycznej"},"ja":{"language":"ja","value":"\u6c11\u4e3b\u5de6\u7ffc\u9023\u5408"},"cs":{"language":"cs","value":"Svaz
        demokratick\u00e9 levice"},"bg":{"language":"bg","value":"\u0421\u044a\u044e\u0437
        \u043d\u0430 \u0434\u0435\u043c\u043e\u043a\u0440\u0430\u0442\u0438\u0447\u043d\u0430\u0442\u0430
        \u043b\u0435\u0432\u0438\u0446\u0430"},"lt":{"language":"lt","value":"Lenkijos
        demokratin\u0117 kairioji s\u0105junga"},"nl":{"language":"nl","value":"Alliantie
        van Democratisch Links"},"sv":{"language":"sv","value":"Demokratiska v\u00e4nsterf\u00f6rbundet"},"zh":{"language":"zh","value":"\u6c11\u4e3b\u5de6\u6d3e\u806f\u76df"},"de-ch":{"language":"de-ch","value":"Bund
        der Demokratischen Linken"},"el":{"language":"el","value":"\u0394\u03b7\u03bc\u03bf\u03ba\u03c1\u03b1\u03c4\u03b9\u03ba\u03ae
        \u0391\u03c1\u03b9\u03c3\u03c4\u03b5\u03c1\u03ae \u03a3\u03c5\u03bc\u03bc\u03b1\u03c7\u03af\u03b1"},"en-ca":{"language":"en-ca","value":"Democratic
        Left Alliance"},"en-gb":{"language":"en-gb","value":"Democratic Left Alliance"},"nb":{"language":"nb","value":"Sojusz
        Lewicy Demokratycznej"},"uk":{"language":"uk","value":"\u0421\u043e\u044e\u0437
        \u0434\u0435\u043c\u043e\u043a\u0440\u0430\u0442\u0438\u0447\u043d\u0438\u0445
        \u043b\u0456\u0432\u0438\u0445 \u0441\u0438\u043b"},"hu":{"language":"hu","value":"Baloldali
        Demokratikus Sz\u00f6vets\u00e9g"},"pt":{"language":"pt","value":"Alian\u00e7a
        da Esquerda Democr\u00e1tica"}},"descriptions":{"fr":{"language":"fr","value":"parti
        politique polonais"},"de":{"language":"de","value":"polnische Partei"},"e[...]
