---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q21974469
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=121444 t=1474546125105157
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q21974469":{"id":"Q21974469","missing":""}},"success":1}'
  recorded_at: Thu, 22 Sep 2016 12:08:45 GMT
recorded_with: VCR 3.0.3
