---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q385483
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=76122 t=1455816688370003
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 80.229.176.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q385483":{"pageid":366789,"ns":0,"title":"Q385483","lastrevid":293461453,"modified":"2016-01-19T20:26:33Z","type":"item","id":"Q385483","labels":{"fr":{"language":"fr","value":"Michel
        Magras"},"en":{"language":"en","value":"Michel Magras"},"es":{"language":"es","value":"Michel
        Magras"},"de":{"language":"de","value":"Michel Magras"},"nl":{"language":"nl","value":"Michel
        Magras"}},"descriptions":{"en":{"language":"en","value":"French politician"},"fr":{"language":"fr","value":"personnalit\u00e9
        politique fran\u00e7aise"},"nl":{"language":"nl","value":"Frans politicus"}},"aliases":{},"claims":{"P214":[{"mainsnak":{"snaktype":"value","property":"P214","datavalue":{"value":"59119452","type":"string"},"datatype":"external-id"},"type":"statement","id":"q385483$38579B39-06AE-43D7-9EC3-18F70677F8F0","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P213":[{"mainsnak":{"snaktype":"value","property":"P213","datavalue":{"value":"0000
        0000 2941 9316","type":"string"},"datatype":"string"},"type":"statement","id":"q385483$1889A940-FC78-4DE2-BE12-9656912B772B","rank":"normal","references":[{"hash":"500bf0768a4645f1e00ad451f904d3a010fa43ae","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":423048},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q385483$0DAC2B85-5AC0-478E-8C20-DBB8EB4AF9C4","rank":"normal","references":[{"hash":"a51d6594fee36c7452eaed2db35a4833613a7078","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":54919},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"e0ecc791aa42d87d81b2cf02266a974e363bcf55","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":20666306},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2015-10-10T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://data.bnf.fr/ark:/12148/cb121381322","type":"string"},"datatype":"url"}]},"snaks-order":["P248","P813","P854"]}]}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1954-01-06T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q385483$47B16F35-6DF3-4C22-800E-EA33844EA9E1","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"9dd837389d6c6078170003e01a36bcbb0db7b385","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://www.senat.fr/senateur/magras_michel08019v.html","type":"string"},"datatype":"url"}]},"snaks-order":["P854"]}]}],"P102":[{"mainsnak":{"snaktype":"value","property":"P102","datavalue":{"value":{"entity-type":"item","numeric-id":173152},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q385483$5C91F9C8-019D-4880-A501-387B4A7C91EA","rank":"normal","references":[{"hash":"f70116eac7f49194478b3025330bfd8dcffa3c69","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8447},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q385483$FDC570E8-5556-4C3F-94FC-7830AB4878C3","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"e0ecc791aa42d87d81b2cf02266a974e363bcf55","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":20666306},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2015-10-10T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://data.bnf.fr/ark:/12148/cb121381322","type":"string"},"datatype":"url"}]},"snaks-order":["P248","P813","P854"]}]}],"P268":[{"mainsnak":{"snaktype":"value","property":"P268","datavalue":{"value":"121381322","type":"string"},"datatype":"string"},"type":"statement","id":"Q385483$8E33ADE9-88C8-46B3-82B8-AFBB34C7ED18","rank":"normal","references":[{"hash":"a51d6594fee36c7452eaed2db35a4833613a7078","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":54919},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P39":[{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":14828018},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q385483$44E20322-87BA-4F59-9249-45374C85C37B","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":3780304},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q385483$3C7F6FF2-DDD4-49F1-9794-5B783EDC3AA6","rank":"normal"}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":82955},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q385483$DE37700E-F201-4BC3-AA85-9FE8249FCCAF","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","datavalue":{"value":{"entity-type":"item","numeric-id":14626626},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q385483$76F6E0DA-672C-42DC-9A91-E02C1B5EDE1B","rank":"normal"}],"P1412":[{"mainsnak":{"snaktype":"value","property":"P1412","datavalue":{"value":{"entity-type":"item","numeric-id":150},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q385483$28DDC012-7D07-4BDA-99BE-3081D6AC1CC1","rank":"normal","references":[{"hash":"e0ecc791aa42d87d81b2cf02266a974e363bcf55","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":20666306},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2015-10-10T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://data.bnf.fr/ark:/12148/cb121381322","type":"string"},"datatype":"url"}]},"snaks-order":["P248","P813","P854"]}]}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":142},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q385483$2035951B-B624-4063-9160-238F144BEE26","rank":"normal"}],"P1808":[{"mainsnak":{"snaktype":"value","property":"P1808","datavalue":{"value":"senateur/magras_michel08019v","type":"string"},"datatype":"string"},"type":"statement","id":"Q385483$94E74112-FD4B-4FAF-BCC0-72EDE281A8A7","rank":"normal"}],"P269":[{"mainsnak":{"snaktype":"value","property":"P269","datavalue":{"value":"129032298","type":"string"},"datatype":"string"},"type":"statement","id":"Q385483$19F2BCD7-F941-49D2-A988-1CEE6F1C644A","rank":"normal","references":[{"hash":"c544d671be6fa439d0291a1408f0d8aa3315a3a1","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":20666306},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2015-08-26T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":20666306},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143","P813","P248"]}]}],"P103":[{"mainsnak":{"snaktype":"value","property":"P103","datavalue":{"value":{"entity-type":"item","numeric-id":150},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q385483$C64E8000-0895-4739-B1B0-3F0AAEC65138","rank":"normal"}]},"sitelinks":{"enwiki":{"site":"enwiki","title":"Michel
        Magras","badges":[]},"frwiki":{"site":"frwiki","title":"Michel Magras","badges":[]}}}},"success":1}'
  recorded_at: Thu, 18 Feb 2016 17:31:28 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q328%7CQ423048%7CQ6581097%7CQ54919%7CQ20666306%7CQ173152%7CQ8447%7CQ5%7CQ14828018%7CQ3780304%7CQ82955%7CQ14626626%7CQ150%7CQ142
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=348190 t=1455816688747114
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 80.229.176.250
    body:
      encoding: UTF-8
      string: '{"entities":{"Q328":{"pageid":521,"ns":0,"title":"Q328","lastrevid":301234137,"modified":"2016-02-06T09:56:14Z","type":"item","id":"Q328","labels":{"en":{"language":"en","value":"English
        Wikipedia"},"ru":{"language":"ru","value":"\u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0430\u044f
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f"},"fr":{"language":"fr","value":"Wikip\u00e9dia
        en anglais"},"nb":{"language":"nb","value":"Wikipedia p\u00e5 engelsk"},"ca":{"language":"ca","value":"Viquip\u00e8dia
        en angl\u00e8s"},"de":{"language":"de","value":"englischsprachige Wikipedia"},"it":{"language":"it","value":"Wikipedia
        in inglese"},"es":{"language":"es","value":"Wikipedia en ingl\u00e9s"},"en-ca":{"language":"en-ca","value":"English
        Wikipedia"},"en-gb":{"language":"en-gb","value":"English Wikipedia"},"fi":{"language":"fi","value":"englanninkielinen
        Wikipedia"},"af":{"language":"af","value":"Engelse Wikipedia"},"ar":{"language":"ar","value":"\u0648\u064a\u0643\u064a\u0628\u064a\u062f\u064a\u0627
        \u0627\u0644\u0625\u0646\u062c\u0644\u064a\u0632\u064a\u0629"},"arz":{"language":"arz","value":"\u0648\u064a\u0643\u064a\u0628\u064a\u062f\u064a\u0627
        \u0627\u0646\u062c\u0644\u064a\u0632\u0649"},"ast":{"language":"ast","value":"Wikipedia
        n''ingl\u00e9s"},"az":{"language":"az","value":"\u0130ngilisc\u0259 Vikipediya"},"be":{"language":"be","value":"\u0430\u043d\u0433\u043b\u0456\u0439\u0441\u043a\u0430\u044f
        \u0412\u0456\u043a\u0456\u043f\u0435\u0434\u044b\u044f"},"bg":{"language":"bg","value":"\u0423\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f
        \u043d\u0430 \u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438 \u0435\u0437\u0438\u043a"},"bn":{"language":"bn","value":"\u0987\u0982\u09b0\u09c7\u099c\u09bf
        \u0989\u0987\u0995\u09bf\u09aa\u09bf\u09a1\u09bf\u09af\u09bc\u09be"},"ckb":{"language":"ckb","value":"\u0648\u06cc\u06a9\u06cc\u067e\u06cc\u062f\u06cc\u0627\u06cc
        \u0626\u06cc\u0646\u06af\u0644\u06cc\u0632\u06cc"},"cs":{"language":"cs","value":"anglick\u00e1
        Wikipedie"},"cv":{"language":"cv","value":"\u0410\u043a\u0103\u043b\u0447\u0430\u043d
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0439\u0115"},"cy":{"language":"cy","value":"Wicipedia
        Saesneg"},"da":{"language":"da","value":"Engelsk Wikipedia"},"diq":{"language":"diq","value":"Wikipediya
        \u0130ng\u0131l\u0131zki"},"el":{"language":"el","value":"\u0391\u03b3\u03b3\u03bb\u03b9\u03ba\u03ae
        \u0392\u03b9\u03ba\u03b9\u03c0\u03b1\u03af\u03b4\u03b5\u03b9\u03b1"},"eo":{"language":"eo","value":"anglalingva
        Vikipedio"},"et":{"language":"et","value":"Ingliskeelne Vikipeedia"},"eu":{"language":"eu","value":"Ingelesezko
        Wikipedia"},"fa":{"language":"fa","value":"\u0648\u06cc\u06a9\u06cc\u200c\u067e\u062f\u06cc\u0627\u06cc
        \u0627\u0646\u06af\u0644\u06cc\u0633\u06cc"},"ga":{"language":"ga","value":"Vicip\u00e9id
        an Bh\u00e9arla"},"gl":{"language":"gl","value":"Wikipedia en ingl\u00e9s"},"he":{"language":"he","value":"\u05d5\u05d9\u05e7\u05d9\u05e4\u05d3\u05d9\u05d4
        \u05d4\u05d0\u05e0\u05d2\u05dc\u05d9\u05ea"},"hi":{"language":"hi","value":"\u0905\u0902\u0917\u094d\u0930\u0947\u091c\u093c\u0940
        \u0935\u093f\u0915\u093f\u092a\u0940\u0921\u093f\u092f\u093e"},"hr":{"language":"hr","value":"Wikipedija
        na engleskom jeziku"},"hu":{"language":"hu","value":"angol Wikip\u00e9dia"},"id":{"language":"id","value":"Wikipedia
        bahasa Inggris"},"ig":{"language":"ig","value":"Wikipedia nke nd\u1ecb bekee"},"ja":{"language":"ja","value":"\u82f1\u8a9e\u7248\u30a6\u30a3\u30ad\u30da\u30c7\u30a3\u30a2"},"ka":{"language":"ka","value":"\u10d8\u10dc\u10d2\u10da\u10d8\u10e1\u10e3\u10e0\u10d8
        \u10d5\u10d8\u10d9\u10d8\u10de\u10d4\u10d3\u10d8\u10d0"},"km":{"language":"km","value":"\u179c\u17b7\u1782\u17b8\u1797\u17b8\u178c\u17b6\u1797\u17b6\u179f\u17b6\u17a2\u1784\u17cb\u1782\u17d2\u179b\u17c1\u179f"},"ko":{"language":"ko","value":"\uc601\uc5b4
        \uc704\ud0a4\ubc31\uacfc"},"la":{"language":"la","value":"Vicipaedia Anglica"},"lt":{"language":"lt","value":"Angli\u0161koji
        Vikipedija"},"lv":{"language":"lv","value":"Vikip\u0113dija ang\u013cu valod\u0101"},"mk":{"language":"mk","value":"\u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0458\u0430
        \u043d\u0430 \u0430\u043d\u0433\u043b\u0438\u0441\u043a\u0438 \u0458\u0430\u0437\u0438\u043a"},"ml":{"language":"ml","value":"\u0d07\u0d02\u0d17\u0d4d\u0d32\u0d40\u0d37\u0d4d
        \u0d35\u0d3f\u0d15\u0d4d\u0d15\u0d3f\u0d2a\u0d40\u0d21\u0d3f\u0d2f"},"ms":{"language":"ms","value":"Wikipedia
        bahasa Inggeris"},"nl":{"language":"nl","value":"Engelstalige Wikipedia"},"bxr":{"language":"bxr","value":"\u0410\u0430\u043d\u0433\u043b\u0438
        \u0412\u0438\u043a\u0438\u043f\u0435\u044d\u0434\u0438"},"de-ch":{"language":"de-ch","value":"Englischsprachige
        Wikipedia"},"kk":{"language":"kk","value":"\u0410\u0493\u044b\u043b\u0448\u044b\u043d\u0448\u0430
        \u0423\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f"},"map-bms":{"language":"map-bms","value":"Wikipedia
        basa Inggris"},"mn":{"language":"mn","value":"\u0410\u043d\u0433\u043b\u0438
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0430"},"pa":{"language":"pa","value":"\u0a05\u0a70\u0a17\u0a30\u0a47\u0a1c\u0a3c\u0a40
        \u0a35\u0a3f\u0a15\u0a40\u0a2a\u0a40\u0a21\u0a40\u0a06"},"pl":{"language":"pl","value":"angloj\u0119zyczna
        Wikipedia"},"pt":{"language":"pt","value":"Wikip\u00e9dia em ingl\u00eas"},"pt-br":{"language":"pt-br","value":"Wikip\u00e9dia
        em ingl\u00eas"},"ro":{"language":"ro","value":"Wikipedia englez\u0103"},"sah":{"language":"sah","value":"\u0410\u0430\u04a5\u043b\u043b\u044b\u044b
        \u0411\u0438\u043a\u0438\u043f\u0438\u044d\u0434\u044c\u0438\u0439\u044d"},"sh":{"language":"sh","value":"Engleska
        Wikipedija"},"sk":{"language":"sk","value":"anglick\u00e1 Wikip\u00e9dia"},"sq":{"language":"sq","value":"Wikipedia
        anglisht"},"sr":{"language":"sr","value":"\u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0458\u0430
        \u043d\u0430 \u0435\u043d\u0433\u043b\u0435\u0441\u043a\u043e\u043c \u0458\u0435\u0437\u0438\u043a\u0443"},"sv":{"language":"sv","value":"Engelskspr\u00e5kiga
        Wikipedia"},"sw":{"language":"sw","value":"Wikipedia ya Kiingereza"},"ta":{"language":"ta","value":"\u0b86\u0b99\u0bcd\u0b95\u0bbf\u0bb2
        \u0bb5\u0bbf\u0b95\u0bcd\u0b95\u0bbf\u0baa\u0bcd\u0baa\u0bc0\u0b9f\u0bbf\u0baf\u0bbe"},"th":{"language":"th","value":"\u0e27\u0e34\u0e01\u0e34\u0e1e\u0e35\u0e40\u0e14\u0e35\u0e22\u0e20\u0e32\u0e29\u0e32\u0e2d\u0e31\u0e07\u0e01\u0e24\u0e29"},"tr":{"language":"tr","value":"\u0130ngilizce
        Vikipedi"},"tt":{"language":"tt","value":"\u0418\u043d\u0433\u043b\u0438\u0437
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f\u0441\u0435"},"uk":{"language":"uk","value":"\u0430\u043d\u0433\u043b\u0456\u0439\u0441\u044c\u043a\u0430
        \u0412\u0456\u043a\u0456\u043f\u0435\u0434\u0456\u044f"},"ur":{"language":"ur","value":"\u0627\u0646\u06af\u0631\u06cc\u0632\u06cc
        \u0648\u06cc\u06a9\u06cc\u067e\u06cc\u0688\u06cc\u0627"},"uz":{"language":"uz","value":"Inglizcha
        Vikipediya"},"vep":{"language":"vep","value":"Anglijan Vikipedii"},"vi":{"language":"vi","value":"Wikipedia
        ti\u1ebfng Anh"},"wuu":{"language":"wuu","value":"\u82f1\u8bed\u7ef4\u57fa\u767e\u79d1"},"yi":{"language":"yi","value":"\u05e2\u05e0\u05d2\u05dc\u05d9\u05e9\u05e2
        \u05d5\u05d5\u05d9\u05e7\u05d9\u05e4\u05e2\u05d3\u05d9\u05e2"},"zh":{"language":"zh","value":"\u82f1\u8a9e\u7dad\u57fa\u767e\u79d1"},"yue":{"language":"yue","value":"\u82f1\u6587\u7dad\u57fa\u767e\u79d1"},"is":{"language":"is","value":"Enska
        Wikipedia"},"be-x-old":{"language":"be-x-old","value":"\u0430\u043d\u0433\u0435\u043b\u044c\u0441\u043a\u0430\u044f
        \u0412\u0456\u043a\u0456\u043f\u044d\u0434\u044b\u044f"},"zh-hans":{"language":"zh-hans","value":"\u82f1\u8bed\u7ef4\u57fa\u767e\u79d1"},"min":{"language":"min","value":"Wikipedia
        bahaso Inggris"},"sl":{"language":"sl","value":"Angle\u0161ka Wikipedija"},"nn":{"language":"nn","value":"Engelsk
        Wikipedia"},"nds":{"language":"nds","value":"engelsche Wikipedia"},"zh-hant":{"language":"zh-hant","value":"\u82f1\u8a9e\u7dad\u57fa\u767e\u79d1"},"mzn":{"language":"mzn","value":"\u0627\u0646\u06af\u0644\u06cc\u0633\u06cc
        \u0648\u06cc\u06a9\u06cc\u200c\u067e\u062f\u06cc\u0627"},"oc":{"language":"oc","value":"Wikip\u00e8dia
        anglesa"},"be-tarask":{"language":"be-tarask","value":"\u0410\u043d\u0433\u0435\u043b\u044c\u0441\u043a\u0430\u044f
        \u0412\u0456\u043a\u0456\u043f\u044d\u0434\u044b\u044f"},"zh-cn":{"language":"zh-cn","value":"\u82f1\u8bed\u7ef4\u57fa\u767e\u79d1"},"gu":{"language":"gu","value":"\u0a85\u0a82\u0a97\u0acd\u0ab0\u0ac7\u0a9c\u0ac0
        \u0ab5\u0abf\u0a95\u0abf\u0aaa\u0ac0\u0aa1\u0abf\u0aaf\u0abe"},"hy":{"language":"hy","value":"\u0531\u0576\u0563\u056c\u0565\u0580\u0565\u0576
        \u054e\u056b\u0584\u056b\u057a\u0565\u0564\u056b\u0561"},"bs":{"language":"bs","value":"Wikipedija
        na engleskom jeziku"},"sco":{"language":"sco","value":"Inglis Wikipaedia"},"te":{"language":"te","value":"\u0c06\u0c02\u0c17\u0c4d\u0c32
        \u0c35\u0c3f\u0c15\u0c40\u0c2a\u0c40\u0c21\u0c3f\u0c2f\u0c3e"},"or":{"language":"or","value":"\u0b07\u0b02\u0b30\u0b3e\u0b1c\u0b40
        \u0b09\u0b07\u0b15\u0b3f\u0b2a\u0b3f\u0b21\u0b3c\u0b3f\u0b06"},"zh-hk":{"language":"zh-hk","value":"\u82f1\u6587\u7dad\u57fa\u767e\u79d1"},"ce":{"language":"ce","value":"\u0418\u043d\u0433\u0430\u043b\u0441\u0430\u043d
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438"},"sgs":{"language":"sgs","value":"Ongl\u0117\u0161ka
        Vikiped\u0117j\u0117"},"lb":{"language":"lb","value":"Wikipedia op Englesch"},"lzh":{"language":"lzh","value":"\u82f1\u6587\u7dad\u57fa\u5927\u5178(\u4eca)"},"scn":{"language":"scn","value":"Wikipedia
        in ngrisi"},"ang":{"language":"ang","value":"Wikip\u01e3dia:Stylistic and
        font options"},"fy":{"language":"fy","value":"Ingelsktalige Wikipedy"},"zh-tw":{"language":"zh-tw","value":"\u82f1\u8a9e\u7dad\u57fa\u767e\u79d1"},"sc":{"language":"sc","value":"Bichipedia
        in inglesa"},"roa-tara":{"language":"roa-tara","value":"Uicchip\u00e8die ''nglese"},"nan":{"language":"nan","value":"Eng-g\u00ed
        Wikipedia"},"nds-nl":{"language":"nds-nl","value":"Engelse Wikipedie"},"udm":{"language":"udm","value":"\u0410\u043d\u0433\u043b\u0438
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f"},"ne":{"language":"ne","value":"\u0905\u0919\u094d\u0917\u094d\u0930\u0947\u091c\u0940
        \u0935\u093f\u0915\u093f\u092a\u093f\u0921\u093f\u092f\u093e"},"ku":{"language":"ku","value":"W\u00eek\u00eepediya
        \u00eengil\u00eez\u00ee"},"ilo":{"language":"ilo","value":"Wikipedia nga Ingles"},"lrc":{"language":"lrc","value":"\u0648\u06cc\u06a9\u06cc
        \u067e\u062f\u06cc\u0627 \u0627\u06cc\u0646\u06af\u06cc\u0644\u06cc\u0633\u06cc"},"hak":{"language":"hak","value":"Y\u00een-ng\u00ee
        V\u00ec-k\u00ee Pak-kh\u00f4"},"sd":{"language":"sd","value":"\u0627\u0646\u06af\u0631\u064a\u0632\u064a
        \u0648\u06aa\u064a\u067e\u064a\u068a\u064a\u0627"},"ps":{"language":"ps","value":"\u0627\u0646\u06af\u0644\u064a\u0633\u064a
        \u0648\u064a\u06a9\u064a\u067e\u06d0\u0689\u064a\u0627"},"fo":{"language":"fo","value":"Ensk
        Wikipedia"},"hsb":{"language":"hsb","value":"jend\u017aelska Wikipedija"},"frr":{"language":"frr","value":"Ingelsk
        Wikipedia"}},"descriptions":{"nb":{"language":"nb","value":"den engelskspr\u00e5klige
        utgaven av Wikipedia"},"fr":{"language":"fr","value":"version de l''encyclop\u00e9die
        Wikip\u00e9dia en langue anglaise"},"it":{"language":"it","value":"edizione
        in lingua inglese di Wikipedia"},"en":{"language":"en","value":"English language
        edition of Wikipedia, the free encyclopedia"},"es":{"language":"es","value":"versi\u00f3n
      [...]
