---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q1146616
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 146.199.13.70
    body:
      encoding: UTF-8
      string: '{"entities":{"Q1146616":{"pageid":1093189,"ns":0,"title":"Q1146616","lastrevid":256331983,"modified":"2015-10-10T03:57:42Z","type":"item","id":"Q1146616","labels":{"pt":{"language":"pt","value":"Movimento
        para a Mudan\u00e7a Democr\u00e1tica"},"zh-hans":{"language":"zh-hans","value":"\u4e89\u53d6\u6c11\u4e3b\u53d8\u9769\u8fd0\u52a8"},"zh-hant":{"language":"zh-hant","value":"\u722d\u53d6\u6c11\u4e3b\u8b8a\u9769\u904b\u52d5"},"zh-hk":{"language":"zh-hk","value":"\u722d\u53d6\u6c11\u4e3b\u8b8a\u9769\u904b\u52d5"},"pl":{"language":"pl","value":"Ruch
        na rzecz Demokratycznej Zmiany"},"fr":{"language":"fr","value":"Mouvement
        pour le changement d\u00e9mocratique"},"sr-el":{"language":"sr-el","value":"Pokret
        za demokratske promene \u2013 Cvangiraj"},"sr-ec":{"language":"sr-ec","value":"\u041f\u043e\u043a\u0440\u0435\u0442
        \u0437\u0430 \u0434\u0435\u043c\u043e\u043a\u0440\u0430\u0442\u0441\u043a\u0435
        \u043f\u0440\u043e\u043c\u0435\u043d\u0435 \u2013 \u0426\u0432\u0430\u043d\u0433\u0438\u0440\u0430\u0458"},"en":{"language":"en","value":"Movement
        for Democratic Change \u2013 Tsvangirai"},"es":{"language":"es","value":"Movimiento
        por el Cambio Democr\u00e1tico"},"af":{"language":"af","value":"Movement for
        Democratic Change"},"sn":{"language":"sn","value":"MDC"},"it":{"language":"it","value":"Movimento
        per il Cambiamento Democratico"},"de":{"language":"de","value":"Movement for
        Democratic Change"},"vi":{"language":"vi","value":"Phong tr\u00e0o Thay \u0111\u1ed5i
        v\u00ec D\u00e2n ch\u1ee7"},"fa":{"language":"fa","value":"\u062c\u0646\u0628\u0634
        \u0628\u0631\u0627\u06cc \u062a\u063a\u06cc\u06cc\u0631 \u062f\u0645\u0648\u06a9\u0631\u0627\u062a\u06cc\u06a9"},"nl":{"language":"nl","value":"Beweging
        voor Democratische Verandering \u2013 Tsvangirai"},"sv":{"language":"sv","value":"R\u00f6relsen
        f\u00f6r demokratisk f\u00f6r\u00e4ndring"},"da":{"language":"da","value":"Movement
        for Democratic Change"},"sr":{"language":"sr","value":"\u041f\u043e\u043a\u0440\u0435\u0442
        \u0437\u0430 \u0434\u0435\u043c\u043e\u043a\u0440\u0430\u0442\u0441\u043a\u0435
        \u043f\u0440\u043e\u043c\u0435\u043d\u0435 \u2013 \u0426\u0432\u0430\u043d\u0433\u0438\u0440\u0430\u0458"},"zh":{"language":"zh","value":"\u4e89\u53d6\u6c11\u4e3b\u53d8\u9769\u8fd0\u52a8"},"nb":{"language":"nb","value":"Movement
        for Democratic Change"},"ru":{"language":"ru","value":"\u0414\u0432\u0438\u0436\u0435\u043d\u0438\u0435
        \u0437\u0430 \u0434\u0435\u043c\u043e\u043a\u0440\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0435
        \u043f\u0435\u0440\u0435\u043c\u0435\u043d\u044b"},"cs":{"language":"cs","value":"Movement
        for Democratic Change"},"ko":{"language":"ko","value":"\ubbfc\uc8fc\ubcc0\ud654\uc6b4\ub3d9
        - \ucc3d\uae30\ub77c\uc774"}},"descriptions":{"de":{"language":"de","value":"Partei
        in Simbabwe"},"en":{"language":"en","value":"political party"}},"aliases":{"pt":[{"language":"pt","value":"Movement
        for Democratic Change"}],"zh":[{"language":"zh","value":"Movement for Democratic
        Change"}],"fr":[{"language":"fr","value":"Mouvement pour le changement democratique"},{"language":"fr","value":"Movement
        for Democratic Change"}],"sr":[{"language":"sr","value":"\u041f\u043e\u043a\u0440\u0435\u0442
        \u0437\u0430 \u0434\u0435\u043c\u043e\u043a\u0440\u0430\u0442\u0441\u043a\u0435
        \u043f\u0440\u043c\u0435\u043d\u0435 \u201[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q7278%7CQ15241312%7CQ954%7CQ328%7CQ4638037%7CQ121254%7CQ8449%7CQ57762%7CQ54919
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 146.199.13.70
    body:
      encoding: UTF-8
      string: '{"entities":{"Q7278":{"pageid":8483,"ns":0,"title":"Q7278","lastrevid":275864890,"modified":"2015-11-23T00:16:52Z","type":"item","id":"Q7278","labels":{"en":{"language":"en","value":"political
        party"},"it":{"language":"it","value":"partito politico"},"en-ca":{"language":"en-ca","value":"political
        party"},"en-gb":{"language":"en-gb","value":"political party"},"af":{"language":"af","value":"politieke
        party"},"an":{"language":"an","value":"partito politico"},"ar":{"language":"ar","value":"\u062d\u0632\u0628
        \u0633\u064a\u0627\u0633\u064a"},"arc":{"language":"arc","value":"\u0713\u0712\u0710"},"arz":{"language":"arz","value":"\u062d\u0632\u0628
        \u0633\u064a\u0627\u0633\u0649"},"ast":{"language":"ast","value":"part\u00edu
        pol\u00edticu"},"bar":{"language":"bar","value":"politische Partei"},"be":{"language":"be","value":"\u043f\u0430\u043b\u0456\u0442\u044b\u0447\u043d\u0430\u044f
        \u043f\u0430\u0440\u0442\u044b\u044f"},"bg":{"language":"bg","value":"\u041f\u043e\u043b\u0438\u0442\u0438\u0447\u0435\u0441\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u044f"},"br":{"language":"br","value":"Strollad
        politikel"},"bs":{"language":"bs","value":"politi\u010dka stranka"},"ca":{"language":"ca","value":"partit
        pol\u00edtic"},"cs":{"language":"cs","value":"politick\u00e1 strana"},"cy":{"language":"cy","value":"Plaid
        wleidyddol"},"da":{"language":"da","value":"politisk parti"},"de":{"language":"de","value":"politische
        Partei"},"diq":{"language":"diq","value":"Partiy"},"el":{"language":"el","value":"\u03c0\u03bf\u03bb\u03b9\u03c4\u03b9\u03ba\u03cc
        \u03ba\u03cc\u03bc\u03bc\u03b1"},"eo":{"language":"eo","value":"partio"},"es":{"language":"es","value":"partido
        pol\u00edtico"},"et":{"language":"et","value":"Erakond"},"eu":{"language":"eu","value":"Alderdi
        politiko"},"fa":{"language":"fa","value":"\u062d\u0632\u0628"},"fi":{"language":"fi","value":"puolue"},"fr":{"language":"fr","value":"parti
        politique"},"fy":{"language":"fy","value":"politike partij"},"ga":{"language":"ga","value":"P\u00e1irt\u00ed
        polait\u00edochta"},"gd":{"language":"gd","value":"P\u00e0rtaidh phoileatagach"},"gl":{"language":"gl","value":"Partido
        pol\u00edtico"},"he":{"language":"he","value":"\u05de\u05e4\u05dc\u05d2\u05d4"},"hi":{"language":"hi","value":"\u0930\u093e\u091c\u0928\u0940\u0924\u093f\u0915
        \u0926\u0932"},"hif":{"language":"hif","value":"Rajnetic dal"},"hr":{"language":"hr","value":"Politi\u010dka
        stranka"},"hu":{"language":"hu","value":"p\u00e1rt"},"hy":{"language":"hy","value":"\u056f\u0578\u0582\u057d\u0561\u056f\u0581\u0578\u0582\u0569\u0575\u0578\u0582\u0576"},"id":{"language":"id","value":"Partai
        politik"},"is":{"language":"is","value":"Stj\u00f3rnm\u00e1laflokkur"},"ja":{"language":"ja","value":"\u653f\u515a"},"jv":{"language":"jv","value":"Partai
        pulitik"},"ka":{"language":"ka","value":"\u10de\u10dd\u10da\u10d8\u10e2\u10d8\u10d9\u10e3\u10e0\u10d8
        \u10de\u10d0\u10e0\u10e2\u10d8\u10d0"},"kk":{"language":"kk","value":"\u0421\u0430\u044f\u0441\u0438
        \u043f\u0430\u0440\u0442\u0438\u044f"},"kn":{"language":"kn","value":"\u0cb0\u0cbe\u0c9c\u0c95\u0cc0\u0caf
        \u0caa\u0c95\u0ccd\u0cb7"},"ko":{"language":"ko","value":"\uc815\ub2f9"},"krc":{"language":"krc","value":"\u041f\u043e\u043b\u0438\u0442\u0438\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u044f"},"la":{"language":"la","value":"Factio
        politica"},"lb":{"language":"lb","value":"Politesch Partei"},"ln":{"language":"ln","value":"Ling\u00f3mb\u00e1
        lya polit\u00edki"},"lt":{"language":"lt","value":"Politin\u0117 partija"},"lv":{"language":"lv","value":"politisk\u0101
        partija"},"mk":{"language":"mk","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u0458\u0430"},"ml":{"language":"ml","value":"\u0d30\u0d3e\u0d37\u0d4d\u0d1f\u0d4d\u0d30\u0d40\u0d2f
        \u0d2a\u0d3e\u0d7c\u0d1f\u0d4d\u0d1f\u0d3f"},"mn":{"language":"mn","value":"\u0423\u043b\u0441
        \u0442\u04e9\u0440\u0438\u0439\u043d \u043d\u0430\u043c"},"mr":{"language":"mr","value":"\u0930\u093e\u091c\u0915\u0940\u092f
        \u092a\u0915\u094d\u0937"},"ms":{"language":"ms","value":"Parti politik"},"my":{"language":"my","value":"\u1014\u102d\u102f\u1004\u103a\u1004\u1036\u101b\u1031\u1038\u1015\u102b\u1010\u102e"},"new":{"language":"new","value":"\u0926\u0932"},"nl":{"language":"nl","value":"politieke
        partij"},"nn":{"language":"nn","value":"politisk parti"},"oc":{"language":"oc","value":"partit
        politic"},"pfl":{"language":"pfl","value":"Bolidischi Pardai"},"pl":{"language":"pl","value":"partia
        polityczna"},"pnb":{"language":"pnb","value":"\u0633\u06cc\u0627\u0633\u06cc
        \u067e\u0627\u0631\u0679\u06cc"},"ps":{"language":"ps","value":"\u06ab\u0648\u0646\u062f"},"pt":{"language":"pt","value":"partido
        pol\u00edtico"},"pt-br":{"language":"pt-br","value":"Partido pol\u00edtico"},"qu":{"language":"qu","value":"Partidu"},"ro":{"language":"ro","value":"partid
        politic"},"ru":{"language":"ru","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u0435\u0441\u043a\u0430\u044f
        \u043f\u0430\u0440\u0442\u0438\u044f"},"rue":{"language":"rue","value":"\u041f\u043e\u043b\u0456\u0442\u0456\u0447\u043d\u0430
        \u043f\u0430\u0440\u0442\u0456\u044f"},"sah":{"language":"sah","value":"\u041f\u043e\u043b\u0438\u0442\u0438\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u044f\u0442\u0430"},"scn":{"language":"scn","value":"partitu
        pul\u00ecticu"},"sh":{"language":"sh","value":"Politi\u010dka stranka"},"sk":{"language":"sk","value":"Politick\u00e1
        strana"},"sl":{"language":"sl","value":"Politi\u010dna stranka"},"so":{"language":"so","value":"Xisbi"},"sr":{"language":"sr","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u043a\u0430
        \u0441\u0442\u0440\u0430\u043d\u043a\u0430"},"sv":{"language":"sv","value":"Politiskt
        parti"},"sw":{"language":"sw","value":"Chama cha kisiasa"},"ta":{"language":"ta","value":"\u0b85\u0bb0\u0b9a\u0bbf\u0baf\u0bb2\u0bcd
        \u0b95\u0b9f\u0bcd\u0b9a\u0bbf"},"te":{"language":"te","value":"\u0c30\u0c3e\u0c1c\u0c15\u0c40\u0c2f
        \u0c2a\u0c3e\u0c30\u0c4d\u0c1f\u0c40"},"th":{"language":"th","value":"\u0e1e\u0e23\u0e23\u0e04\u0e01\u0e32\u0e23\u0e40\u0e21\u0e37\u0e2d\u0e07"},"tl":{"language":"tl","value":"Partidong
        politikal"},"tr":{"language":"tr","value":"Siyasi parti"},"tt":{"language":"tt","value":"\u0421\u04d9\u044f\u0441\u0438
        \u0444\u0438\u0440\u043a\u0430\u043b\u04d9\u0440"},"uk":{"language":"uk","value":"\u041f\u043e\u043b\u0456\u0442\u0438\u0447\u043d\u0430
        \u043f\u0430\u0440\u0442\u0456\u044f"},"ur":{"language":"ur","value":"\u0633\u06cc\u0627\u0633\u06cc
        \u062c\u0645\u0627\u0639\u062a"},"vec":{"language":"vec","value":"Partito
        pu\u0142itego"},"vi":{"language":"vi","value":"\u0110\u1ea3ng ph\u00e1i ch\u00ednh
        tr\u1ecb"},"war":{"language":"war","value":"Partido politikal"},"yi":{"language":"yi","value":"\u05e4\u05d0\u05dc\u05d9\u05d8\u05d9\u05e9\u05e2
        \u05e4\u05d0\u05e8\u05d8\u05d9\u05d9"},"yo":{"language":"yo","value":"\u1eb8gb\u1eb9\u0301
        ol\u00f3\u1e63\u00e8l\u00fa"},"zh":{"language":"zh","value":"\u653f\u515a"},"zh-cn":{"language":"zh-cn","value":"\u653f\u515a"},"zh-tw":{"language":"zh-tw","value":"\u653f\u9ee8"},"zh-sg":{"language":"zh-sg","value":"\u653f\u515a"},"zh-mo":{"language":"zh-mo","value":"\u653f\u9ee8"},"zh-hans":{"language":"zh-hans","value":"\u653f\u515a"},"zh-hant":{"language":"zh-hant","value":"\u653f\u9ee8"},"zh-hk":{"language":"zh-hk","value":"\u653f\u9ee8"},"zh-my":{"language":"zh-my","value":"\u653f\u515a"},"az":{"language":"az","value":"Siyasi
        partiya"},"ilo":{"language":"ilo","value":"Partido politiko"},"nb":{"language":"nb","value":"politisk
        parti"},"nds":{"language":"nds","value":"Politsche Partei"},"simple":{"language":"simple","value":"Political
        party"},"pms":{"language":"pms","value":"Part\u00ec pol\u00ectich"},"si":{"language":"si","value":"\u0daf\u0dda\u0dc1\u0db4\u0dcf\u0dbd\u0db1
        \u0db4\u0d9a\u0dca\u0dc2 \u0d9a\u0dca\u200d\u0dbb\u0db8"},"be-tarask":{"language":"be-tarask","value":"\u043f\u0430\u043b\u0456\u0442\u044b\u0447\u043d\u0430\u044f
        \u043f\u0430\u0440\u0442\u044b\u044f"},"uz":{"language":"uz","value":"Siyosiy
        partiyalar"},"ckb":{"language":"ckb","value":"\u062d\u06cc\u0632\u0628"},"yue":{"language":"yue","value":"\u653f\u9ee8"},"sco":{"language":"sco","value":"poleetical
        pairty"},"or":{"language":"or","value":"\u0b30\u0b3e\u0b1c\u0b28\u0b40\u0b24\u0b3f\u0b15
        \u0b26\u0b33"},"pa":{"language":"pa","value":"\u0a30\u0a3e\u0a1c\u0a28\u0a40\u0a24\u0a15
        \u0a2a\u0a3e\u0a30\u0a1f\u0a40"},"nan":{"language":"nan","value":"Ch\u00e8ng-t\u00f3ng"},"sgs":{"language":"sgs","value":"Puolit\u0117n\u0117
        part\u0117j\u0117"},"gn":{"language":"gn","value":"Aty ojokuaikua\u00e1va"},"sr-ec":{"language":"sr-ec","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u043a\u0430
        \u0441\u0442\u0440\u0430\u043d\u043a\u0430"},"sr-el":{"language":"sr-el","value":"politi\u010dka
        stranka"},"ie":{"language":"ie","value":"Political partise"},"mg":{"language":"mg","value":"Antoko
        politika"},"gsw":{"language":"gsw","value":"Partei"},"li":{"language":"li","value":"Politische
        partie"},"ba":{"language":"ba","value":"\u0421\u04d9\u0439\u04d9\u0441\u0438
        \u0444\u0438\u0440\u04a1\u04d9"},"bn":{"language":"bn","value":"\u09b0\u09be\u099c\u09a8\u09c8\u09a4\u09bf\u0995
        \u09a6\u09b2"}},"descriptions":{"en":{"language":"en","value":"organization
        that seeks to influence government policy and actions"},"it":{"language":"it","value":"associazione
        tra persone accomunate da una medesima finalit\u00e0 politica"},"es":{"language":"es","value":"asociaci\u00f3n
        de individuos unidos por objetivos comunes y que persiguen como meta alcanzar
        el control del gobie[...]
