---
http_interactions:
- request:
    method: get
    uri: https://wdq.wmflabs.org/api?q=claim%5B463:20530392%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"error":"OK","items":114,"querytime":"14ms","parsed_query":"CLAIM[463:20530392]"},"items":[253515,312894,449851,449939,450523,458003,460589,465437,535290,616356,645970,704436,724437,743341,978349,983831,1385792,1398025,1399189,1410118,1453245,1789192,1900847,2000385,2097451,2621730,3735691,3736458,3740790,3741812,3741900,4232659,4756115,5993313,6736905,7824120,7909441,11023034,11032994,11716283,11857954,11869429,12358062,12358429,12358481,12363563,12364480,12365130,12365796,12366157,12366158,12366238,12366267,12366820,12369791,12369838,12369884,12369924,12369932,12369996,12370075,12370316,12372175,12372781,12372782,12373456,12373459,12373774,12373839,12375092,12376325,12376376,12377090,12378637,13234758,13570003,13608089,13628736,13629005,14191221,14483307,15983657,16402978,16403371,16403802,16404020,16404281,16404493,16404500,16405090,16405149,16405217,16405450,16405538,16405768,16406074,16406537,16407309,17446896,17446918,17447338,19725706,20528341,20528366,20528493,20528676,20933454,20933467,20933507,20933509,20933524,20933540,20933554,20933560]}'
  recorded_at: Thu, 05 Nov 2015 13:16:45 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q253515%7CQ312894%7CQ449851%7CQ449939%7CQ450523%7CQ458003%7CQ460589%7CQ465437%7CQ535290%7CQ616356%7CQ645970%7CQ704436%7CQ724437%7CQ743341%7CQ978349%7CQ983831%7CQ1385792%7CQ1398025%7CQ1399189%7CQ1410118%7CQ1453245%7CQ1789192%7CQ1900847%7CQ2000385%7CQ2097451%7CQ2621730%7CQ3735691%7CQ3736458%7CQ3740790%7CQ3741812%7CQ3741900%7CQ4232659%7CQ4756115%7CQ5993313%7CQ6736905%7CQ7824120%7CQ7909441%7CQ11023034%7CQ11032994%7CQ11716283%7CQ11857954%7CQ11869429%7CQ12358062%7CQ12358429%7CQ12358481%7CQ12363563%7CQ12364480%7CQ12365130%7CQ12365796%7CQ12366157
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q253515":{"pageid":246055,"ns":0,"title":"Q253515","lastrevid":262102723,"modified":"2015-10-24T21:04:35Z","type":"item","id":"Q253515","labels":{"de":{"language":"de","value":"Jaak
        Aaviksoo"},"en":{"language":"en","value":"Jaak Aaviksoo"},"et":{"language":"et","value":"Jaak
        Aaviksoo"},"fi":{"language":"fi","value":"Jaak Aaviksoo"},"fr":{"language":"fr","value":"Jaak
        Aaviksoo"},"pl":{"language":"pl","value":"Jaak Aaviksoo"},"ru":{"language":"ru","value":"\u042f\u0430\u043a
        \u0410\u0430\u0432\u0438\u043a\u0441\u043e\u043e"},"en-ca":{"language":"en-ca","value":"Jaak
        Aaviksoo"},"en-gb":{"language":"en-gb","value":"Jaak Aaviksoo"},"sk":{"language":"sk","value":"Jaak
        Aaviksoo"},"sl":{"language":"sl","value":"Jaak Aaviksoo"},"ca":{"language":"ca","value":"Jaak
        Aaviksoo"},"cs":{"language":"cs","value":"Jaak Aaviksoo"},"da":{"language":"da","value":"Jaak
        Aaviksoo"},"hr":{"language":"hr","value":"Jaak Aaviksoo"},"la":{"language":"la","value":"Jaak
        Aaviksoo"},"lt":{"language":"lt","value":"Jaak Aaviksoo"},"pt":{"language":"pt","value":"Jaak
        Aaviksoo"},"ro":{"language":"ro","value":"Jaak Aaviksoo"},"sv":{"language":"sv","value":"Jaak
        Aaviksoo"},"nl":{"language":"nl","value":"Jaak Aaviksoo"},"es":{"language":"es","value":"Jaak
        Aaviksoo"},"nb":{"language":"nb","value":"Jaak Aaviksoo"},"nn":{"language":"nn","value":"Jaak
        Aaviksoo"}},"descriptions":{"de":{"language":"de","value":"estnischer Politiker"},"en":{"language":"en","value":"Estonian
        politician"},"es":{"language":"es","value":"pol\u00edtico estonio"},"et":{"language":"et","value":"Eesti
        poliitik"},"fr":{"language":"fr","value":"personnalit\u00e9 politique estonienne"},"pl":{"language":"pl","value":"esto\u0144ski
        fizyk i polityk"},"nn":{"language":"nn","value":"estlandsk fysikar"},"da":{"language":"da","value":"estlandsk
        fysiker"},"sv":{"language":"sv","value":"estl\u00e4ndsk fysiker"},"nb":{"language":"nb","value":"estlandsk
        fysiker"},"ru":{"language":"ru","value":"\u044d\u0441\u0442\u043e\u043d\u0441\u043a\u0438\u0439
        \u0444\u0438\u0437\u0438\u043a \u0438 \u043f\u043e\u043b\u0438\u0442\u0438\u043a"},"fa":{"language":"fa","value":"\u0641\u06cc\u0632\u06cc\u06a9\u200c\u062f\u0627\u0646
        \u0648 \u0633\u06cc\u0627\u0633\u062a\u200c\u0645\u062f\u0627\u0631 \u0627\u0647\u0644
        \u0627\u0633\u062a\u0648\u0646\u06cc"}},"aliases":{},"claims":{"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q253515$B50192E7-D338-42BA-B60A-B8E71BC3D8BB","rank":"normal"}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Jaak
        Aaviksoo","type":"string"},"datatype":"string"},"type":"statement","id":"q253515$D5C351A3-AE24-4863-98EB-106E9AE3459B","rank":"normal"}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1954-01-11T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q253515$0189EA62-6391-41C2-8575-A97DE90525C7","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P102":[{"mainsnak":{"snaktype":"value","property":"P102","datavalue":{"value":{"entity-type":"item","numeric-id":738947},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$D394468E-60A5-4DAA-931E-1E4D2F50E764","rank":"normal","references":[{"hash":"f70116eac7f49194478b3025330bfd8dcffa3c69","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8447},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P69":[{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":204181},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$E5054D25-36F5-40D8-888F-47E72DF17334","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":191},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$E7A79038-E838-409E-9A6C-2AA3C4536E72","rank":"normal","references":[{"hash":"f70116eac7f49194478b3025330bfd8dcffa3c69","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8447},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$1722B6AF-A1F1-4466-8B09-21E5F5B7F005","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P19":[{"mainsnak":{"snaktype":"value","property":"P19","datavalue":{"value":{"entity-type":"item","numeric-id":13972},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$9BD6A60E-D67A-48D5-9845-7E52CAA26AE8","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Jaak
        Aaviksoo, 2011.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q253515$7D051D8D-69FC-4397-91E6-5956BCDEC660","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/02qh557","type":"string"},"datatype":"string"},"type":"statement","id":"Q253515$6F08664E-8FD5-4149-8E0E-D7514E183522","rank":"normal","references":[{"hash":"af38848ab5d9d9325cffd93a5ec656cc6ca889ed","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":169470},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$618FF228-EFF8-483C-A7EE-3082391747F7","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":82955},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$B82245BA-1EE8-4B91-B470-4C93B6C86B41","rank":"normal"}],"P108":[{"mainsnak":{"snaktype":"value","property":"P108","datavalue":{"value":{"entity-type":"item","numeric-id":204181},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$52C4BA79-6205-4528-86BC-9B888F023115","rank":"normal"}],"P101":[{"mainsnak":{"snaktype":"value","property":"P101","datavalue":{"value":{"entity-type":"item","numeric-id":413},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$ECC0C57A-46C3-4CA6-8128-AF30688F70BD","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P101","datavalue":{"value":{"entity-type":"item","numeric-id":7163},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$8E4CF4AC-CAFC-4DEE-8F8D-5190C23F3AA6","rank":"normal"}],"P103":[{"mainsnak":{"snaktype":"value","property":"P103","datavalue":{"value":{"entity-type":"item","numeric-id":9072},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$86BB7563-D391-4175-8457-7913CE12315A","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P1412":[{"mainsnak":{"snaktype":"value","property":"P1412","datavalue":{"value":{"entity-type":"item","numeric-id":7737},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q253515$C1DE21D1-0419-4D0F-8B8D-E9DEBAC618E3","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q12366158%7CQ12366238%7CQ12366267%7CQ12366820%7CQ12369791%7CQ12369838%7CQ12369884%7CQ12369924%7CQ12369932%7CQ12369996%7CQ12370075%7CQ12370316%7CQ12372175%7CQ12372781%7CQ12372782%7CQ12373456%7CQ12373459%7CQ12373774%7CQ12373839%7CQ12375092%7CQ12376325%7CQ12376376%7CQ12377090%7CQ12378637%7CQ13234758%7CQ13570003%7CQ13608089%7CQ13628736%7CQ13629005%7CQ14191221%7CQ14483307%7CQ15983657%7CQ16402978%7CQ16403371%7CQ16403802%7CQ16404020%7CQ16404281%7CQ16404493%7CQ16404500%7CQ16405090%7CQ16405149%7CQ16405217%7CQ16405450%7CQ16405538%7CQ16405768%7CQ16406074%7CQ16406537%7CQ16407309%7CQ17446896%7CQ17446918
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q12366158":{"pageid":13590294,"ns":0,"title":"Q12366158","lastrevid":260939787,"modified":"2015-10-22T08:58:18Z","type":"item","id":"Q12366158","labels":{"et":{"language":"et","value":"Kalev
        Kallo"}},"descriptions":{},"aliases":{},"claims":{"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Kalev
        Kallo","type":"string"},"datatype":"string"},"type":"statement","id":"q12366158$AC8510EC-EDFF-4A98-BB79-B113003C04AF","rank":"normal","references":[{"hash":"3f12e959c196a5a4adc7f7d1ba480c2629b550f8","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":565},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12366158$2391B132-279F-422F-9C00-CFAE411D7931","rank":"normal"}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12366158$89B1D161-5AE3-4044-98B3-F997876B37D7","rank":"normal"}],"P39":[{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":21100241},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12366158$AF29D011-54B0-439B-A5D6-0DCEA93DDDC6","rank":"normal"}],"P463":[{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":20530392},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12366158$58845EF6-3B67-40E5-BCAF-3AC7E6C0303B","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":967549},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12366158$73921F3A-E826-4535-A918-FF4939C6CE1C","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":3352921},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12366158$4650E1E2-DBDF-4AAE-B805-405E5E01FBB1","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":12364289},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12366158$30043640-9BDD-47A1-AB5C-6ABC15E1E106","rank":"normal"}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"KE
        Kalev Kallo.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q12366158$A0F9403D-CDB5-4289-B310-076754DAE846","rank":"normal"}]},"sitelinks":{"commonswiki":{"site":"commonswiki","title":"Category:Kalev
        Kallo","badges":[]},"etwiki":{"site":"etwiki","title":"Kalev Kallo","badges":[]}}},"Q12366238":{"pageid":13590419,"ns":0,"title":"Q12366238","lastrevid":260463036,"modified":"2015-10-20T19:41:02Z","type":"item","id":"Q12366238","labels":{"et":{"language":"et","value":"Kalle
        Muuli"}},"descriptions":{},"aliases":{"et":[{"language":"et","value":"Kalle-Leopold
        Muuli"}]},"claims":{"P434":[{"mainsnak":{"snaktype":"value","property":"P434","datavalue":{"value":"e463fafd-cc07-486a-966b-23b6b72ce9ff","type":"string"},"datatype":"string"},"type":"statement","id":"q12366238$4E03AB86-EDE1-40C1-A0E0-DDA8319EA01B","rank":"normal","references":[{"hash":"cc53937a15e6b6d1d36a4ea24bf2674d2fd4e2a5","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":14005},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q17447338%7CQ19725706%7CQ20528341%7CQ20528366%7CQ20528493%7CQ20528676%7CQ20933454%7CQ20933467%7CQ20933507%7CQ20933509%7CQ20933524%7CQ20933540%7CQ20933554%7CQ20933560
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q17447338":{"pageid":19042642,"ns":0,"title":"Q17447338","lastrevid":258283431,"modified":"2015-10-15T16:29:23Z","type":"item","id":"Q17447338","labels":{"et":{"language":"et","value":"Einar
        Vallbaum"},"it":{"language":"it","value":"Einar Vallbaum"},"en":{"language":"en","value":"Einar
        Vallbaum"}},"descriptions":{},"aliases":{},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17447338$57012621-DA38-4A43-A071-7A9D474817A7","rank":"normal"}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17447338$6D2E23A5-5538-478F-A7CD-2EB27F72EF44","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","datavalue":{"value":{"entity-type":"item","numeric-id":1305819},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17447338$27B06796-2253-4057-B26C-97A5FC6DDA86","rank":"normal"}],"P463":[{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":20530392},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17447338$A2D59D3A-8A84-4762-94BE-CD62E697EAC0","rank":"normal"}]},"sitelinks":{"etwiki":{"site":"etwiki","title":"Einar
        Vallbaum","badges":[]}}},"Q19725706":{"pageid":21326786,"ns":0,"title":"Q19725706","lastrevid":259094042,"modified":"2015-10-17T09:02:26Z","type":"item","id":"Q19725706","labels":{"et":{"language":"et","value":"Jaak
        Madison"},"en":{"language":"en","value":"Jaak Madison"},"ru":{"language":"ru","value":"\u041c\u0430\u0434\u0438\u0441\u043e\u043d,
        \u042f\u0430\u043a"},"fr":{"language":"fr","value":"Jaak Madison"}},"descriptions":{},"aliases":{"ru":[{"language":"ru","value":"\u042f\u0430\u043a
        \u041c\u0430\u0434[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q6581097%7CQ328%7CQ738947%7CQ8447%7CQ204181%7CQ191%7CQ5%7CQ206855%7CQ13972%7CQ15241312%7CQ169470%7CQ82955%7CQ413%7CQ7163%7CQ9072%7CQ7737%7CQ1860%7CQ188%7CQ150%7CQ337234%7CQ1370215%7CQ20530392%7CQ967549%7CQ3352921%7CQ1291923%7CQ21100241%7CQ913910%7CQ11920%7CQ163347%7CQ2069101%7CQ1770%7CQ737115%7CQ156469%7CQ57640%7CQ653547%7CQ728945%7CQ6581072%7CQ48183%7CQ565%7CQ928652%7CQ757391%7CQ649%7CQ54919%7CQ913551%7CQ1551807%7CQ604487%7CQ12364289%7CQ12377902%7CQ12377905%7CQ1257946
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q6581097":{"pageid":6406677,"ns":0,"title":"Q6581097","lastrevid":257845564,"modified":"2015-10-14T07:59:13Z","type":"item","id":"Q6581097","labels":{"fr":{"language":"fr","value":"masculin"},"en":{"language":"en","value":"male"},"fi":{"language":"fi","value":"mies"},"en-gb":{"language":"en-gb","value":"male"},"it":{"language":"it","value":"maschio"},"de":{"language":"de","value":"m\u00e4nnlich"},"sv":{"language":"sv","value":"man"},"cs":{"language":"cs","value":"mu\u017e"},"zh":{"language":"zh","value":"\u7537\u6027"},"zh-hans":{"language":"zh-hans","value":"\u7537\u6027"},"pl":{"language":"pl","value":"m\u0119\u017cczyzna"},"zh-hant":{"language":"zh-hant","value":"\u7537\u6027"},"ca":{"language":"ca","value":"home"},"pt-br":{"language":"pt-br","value":"masculino"},"ru":{"language":"ru","value":"\u043c\u0443\u0436\u0441\u043a\u043e\u0439"},"uk":{"language":"uk","value":"\u0447\u043e\u043b\u043e\u0432\u0456\u0447\u0430"},"pt":{"language":"pt","value":"masculino"},"el":{"language":"el","value":"\u03ac\u03bd\u03b4\u03c1\u03b1\u03c2"},"lv":{"language":"lv","value":"v\u012brietis"},"nl":{"language":"nl","value":"mannelijk"},"gl":{"language":"gl","value":"home"},"es":{"language":"es","value":"masculino"},"ko":{"language":"ko","value":"\ub0a8\uc131"},"be-tarask":{"language":"be-tarask","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0430\u044f"},"hu":{"language":"hu","value":"f\u00e9rfi"},"af":{"language":"af","value":"man"},"ja":{"language":"ja","value":"\u7537\u6027"},"eu":{"language":"eu","value":"gizonezkoa"},"he":{"language":"he","value":"\u05d6\u05db\u05e8"},"vi":{"language":"vi","value":"nam
        gi\u1edbi"},"id":{"language":"id","value":"pria"},"min":{"language":"min","value":"laki-laki"},"sl":{"language":"sl","value":"mo\u0161ki"},"ka":{"language":"ka","value":"\u10db\u10d0\u10db\u10e0\u10dd\u10d1\u10d8\u10d7\u10d8"},"fa":{"language":"fa","value":"\u0645\u0630\u06a9\u0631"},"ro":{"language":"ro","value":"b\u0103rbat"},"nb":{"language":"nb","value":"mann"},"be":{"language":"be","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0456"},"da":{"language":"da","value":"mand"},"uz":{"language":"uz","value":"erkak"},"sco":{"language":"sco","value":"male"},"mzn":{"language":"mzn","value":"\u0645\u0630\u06a9\u0631"},"sr":{"language":"sr","value":"\u043c\u0443\u0448\u043a\u0438"},"nds":{"language":"nds","value":"Mann"},"bn":{"language":"bn","value":"\u09aa\u09c1\u09b0\u09c1\u09b7"},"bs":{"language":"bs","value":"mu\u0161ki"},"ilo":{"language":"ilo","value":"lalaki"},"br":{"language":"br","value":"Paotr"},"sq":{"language":"sq","value":"mashkull"},"nds-nl":{"language":"nds-nl","value":"man"},"la":{"language":"la","value":"masculinus"},"tr":{"language":"tr","value":"erkek"},"hr":{"language":"hr","value":"mu\u0161ko"},"nn":{"language":"nn","value":"mann"},"no":{"language":"no","value":"kar"},"bg":{"language":"bg","value":"\u043c\u044a\u0436\u043a\u0438"},"th":{"language":"th","value":"\u0e40\u0e1e\u0e28\u0e0a\u0e32\u0e22"},"gu":{"language":"gu","value":"\u0aaa\u0ac1\u0ab0\u0ac1\u0ab7"},"mr":{"language":"mr","value":"\u092a\u0941\u0930\u0942\u0937"},"eo":{"language":"eo","value":"vira"},"oc":{"language":"oc","value":"\u00f2me"},"ta":{"language":"ta","value":"\u0b86\u0ba3\u0bcd"},"mk":{"language":"mk","value":"\u043c\u0430\u0448\u043a\u0438"},"hi":{"language":"hi","value":"\u092a\u0941\u0930\u0941\u0937"},"en-ca":{"language":"en-ca","value":"male"},"rm":{"language":"rm","value":"masculin"},"yi":{"language":"yi","value":"\u05d6\u05db\u05e8"},"yue":{"language":"yue","value":"\u7537"},"zh-cn":{"language":"zh-cn","value":"\u7537\u6027"},"ar":{"language":"ar","value":"\u0630\u0643\u0631"},"tl":{"language":"tl","value":"lalaki"},"is":{"language":"is","value":"karlma\u00f0ur"},"zh-tw":{"language":"zh-tw","value":"\u7537\u6027"},"ksh":{"language":"ksh","value":"m\u00e4nnlesch"},"sk":{"language":"sk","value":"mu\u017e"},"hy":{"language":"hy","value":"\u0561\u0580\u0561\u056f\u0561\u0576"},"gsw":{"language":"gsw","value":"m\u00e4nnli"},"zh-hk":{"language":"zh-hk","value":"\u7537\u6027"},"te":{"language":"te","value":"\u0c2a\u0c41\u0c30\u0c41\u0c37\u0c41\u0c21\u0c41"},"tokipona":{"language":"tokipona","value":"mije"},"or":{"language":"or","value":"\u0b2a\u0b41\u0b30\u0b41\u0b37"},"ml":{"language":"ml","value":"\u0d2a\u0d41\u0d30\u0d41\u0d37\u0d7b"},"lb":{"language":"lb","value":"m\u00e4nnlech"},"sr-el":{"language":"sr-el","value":"mu\u0161ki"},"et":{"language":"et","value":"meessoost"},"fo":{"language":"fo","value":"ma\u00f0ur"},"lez":{"language":"lez","value":"\u0438\u0442\u0438\u043c\u0434\u0438\u043d"},"fy":{"language":"fy","value":"man"},"scn":{"language":"scn","value":"m\u00e0sculu"},"mg":{"language":"mg","value":"lehilahy"},"ce":{"language":"ce","value":"\u0431\u043e\u0436\u0430\u0440\u0438\u0439\u043d"},"ne":{"language":"ne","value":"\u092a\u0941\u0930\u0941\u0937"},"hsb":{"language":"hsb","value":"mu\u017e"},"sh":{"language":"sh","value":"mu\u0161karac"},"cy":{"language":"cy","value":"gwrywaidd"},"ckb":{"language":"ckb","value":"\u0646\u06ce\u0631"},"jbo":{"language":"jbo","value":"lo
        nakni"},"kn":{"language":"kn","value":"\u0caa\u0cc1\u0cb0\u0cc1\u0cb7"},"lt":{"language":"lt","value":"vyras"},"ast":{"language":"ast","value":"mascul\u00edn"}},"descriptions":{"fr":{"language":"fr","value":"\u00e9l\u00e9ment
        \u00e0 utiliser dans P21 pour signifier que la personne est de sexe masculin"},"en":{"language":"en","value":"human
        who is male (use with Property:P21 sex or gender). For groups of males use
        with subclass of (P279)."},"fi":{"language":"fi","value":"k\u00e4ytet\u00e4\u00e4n
        ominaisuudessa P21 osoittamaan, ett\u00e4 kohteen aihe on miespuolinen"},"en-gb":{"la[...]
