---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q21856082
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q21856082":{"pageid":23892822,"ns":0,"title":"Q21856082","lastrevid":287196247,"modified":"2015-12-30T22:35:17Z","type":"item","id":"Q21856082","labels":{"es":{"language":"es","value":"Remo
        Carlotto"},"en":{"language":"en","value":"Remo Carlotto"}},"descriptions":{"es":{"language":"es","value":"pol\u00edtico
        argentino"}},"aliases":{},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21856082$F9161031-1A7A-4533-810B-73A9C8BFF723","rank":"normal"}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21856082$911D03C8-8FA6-4219-874C-5136395D42EA","rank":"normal"}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":82955},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21856082$95689617-5B68-4D4D-9F21-45D2DC9C6EF6","rank":"normal"}],"P1412":[{"mainsnak":{"snaktype":"value","property":"P1412","datavalue":{"value":{"entity-type":"item","numeric-id":1321},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21856082$7B2ED8CF-7F92-43D0-8978-887B2B41F008","rank":"normal"}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":414},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21856082$F3BF5687-0DD9-4193-9C1C-728177705759","rank":"normal"}],"P39":[{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":18229570},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P768":[{"snaktype":"value","property":"P768","hash":"f1b734c727c1a8c9dbc047bf894ed6ef4c4204a0","datavalue":{"value":{"entity-type":"item","numeric-id":44754},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P580":[{"snaktype":"value","property":"P580","hash":"130a7a55fc09b6356e5821c2f3680cef130865be","datavalue":{"value":{"time":"+2013-12-10T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P768","P580"],"id":"Q21856082$E82E51B4-A0EA-46FB-9C2E-FE4B910C876F","rank":"normal","references":[{"hash":"61e96429af8e10a3bad807edb2aee331f8182db3","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://www.diputados.gov.ar/diputados/rcarlotto/","type":"string"},"datatype":"url"}]},"snaks-order":["P854"]}]},{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":18229570},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P580":[{"snaktype":"value","property":"P580","hash":"e10b3c6528c617feeb9c3596369dfd8384991c58","datavalue":{"value":{"time":"+2005-12-10T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P582":[{"snaktype":"value","property":"P582","hash":"ecbe1565d74422089df1001bbb59dcd5fe618a8d","datavalue":{"value":{"time":"+2009-12-09T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P768":[{"snaktype":"value","property":"P768","hash":"f1b734c727c1a8c9dbc047bf894ed6ef4c4204a0","datavalue":{"value":{"entity-type":"item","numeric-id":44754},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P580","P582","P768"],"id":"Q21856082$D9C82518-44A9-4DA3-B793-162D28C4D236","rank":"normal","references":[{"hash":"18556739a09d2d92501aa60fcb38eab5e87764cf","snaks":{"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2015-12-30T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://www.archivodiputados.gob.ar","type":"string"},"datatype":"url"}]},"snaks-order":["P813","P854"]}]}],"P25":[{"mainsnak":{"snaktype":"value","property":"P25","datavalue":{"value":{"entity-type":"item","numeric-id":299652},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21856082$907c65dc-43de-a930-49cc-70a96ed3f09b","rank":"normal"}]},"sitelinks":{}}},"success":1}'
  recorded_at: Fri, 22 Jan 2016 15:58:12 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q5%7CQ6581097%7CQ82955%7CQ1321%7CQ414%7CQ18229570%7CQ44754%7CQ299652
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q5":{"pageid":133,"ns":0,"title":"Q5","lastrevid":294082542,"modified":"2016-01-21T13:58:45Z","type":"item","id":"Q5","labels":{"en":{"language":"en","value":"human"},"fr":{"language":"fr","value":"\u00eatre
        humain"},"ru":{"language":"ru","value":"\u0447\u0435\u043b\u043e\u0432\u0435\u043a"},"eo":{"language":"eo","value":"homo"},"it":{"language":"it","value":"umano"},"de":{"language":"de","value":"Mensch"},"pl":{"language":"pl","value":"cz\u0142owiek"},"es":{"language":"es","value":"ser
        humano"},"be-tarask":{"language":"be-tarask","value":"\u0447\u0430\u043b\u0430\u0432\u0435\u043a"},"map-bms":{"language":"map-bms","value":"Tokoh"},"yue":{"language":"yue","value":"\u4eba"},"lzh":{"language":"lzh","value":"\u4eba"},"sgs":{"language":"sgs","value":"\u017dmuogos"},"rup":{"language":"rup","value":"homo
        sapiens"},"nan":{"language":"nan","value":"L\u00e2ng"},"nds-nl":{"language":"nds-nl","value":"Mense"},"vro":{"language":"vro","value":"Inemine"},"en-gb":{"language":"en-gb","value":"human"},"ja":{"language":"ja","value":"\u30d2\u30c8"},"zh-hant":{"language":"zh-hant","value":"\u4eba"},"fi":{"language":"fi","value":"ihminen"},"hr":{"language":"hr","value":"\u010dovjek"},"pt":{"language":"pt","value":"ser
        humano"},"simple":{"language":"simple","value":"Human"},"zh":{"language":"zh","value":"\u4eba"},"ko":{"language":"ko","value":"\uc0ac\ub78c"},"uz":{"language":"uz","value":"Odam"},"af":{"language":"af","value":"mens"},"am":{"language":"am","value":"\u12e8\u1230\u12cd
        \u120d\u1305"},"an":{"language":"an","value":"Homo sapiens"},"ar":{"language":"ar","value":"\u0625\u0646\u0633\u0627\u0646"},"arc":{"language":"arc","value":"\u0712\u072a
        \u0710\u0722\u072b\u0710"},"arz":{"language":"arz","value":"\u0627\u0646\u0633\u0627\u0646"},"ast":{"language":"ast","value":"Homo
        sapiens"},"av":{"language":"av","value":"\u0413\u04c0\u0430\u0434\u0430\u043d"},"ay":{"language":"ay","value":"Jaqi"},"az":{"language":"az","value":"\u0130nsan"},"bar":{"language":"bar","value":"Mensch"},"be":{"language":"be","value":"\u0447\u0430\u043b\u0430\u0432\u0435\u043a"},"bg":{"language":"bg","value":"\u0447\u043e\u0432\u0435\u043a"},"bn":{"language":"bn","value":"\u09ae\u09be\u09a8\u09c1\u09b7"},"bo":{"language":"bo","value":"\u0f60\u0f42\u0fb2\u0f7c\u0f0b\u0f56\u0f0b\u0f58\u0f72\u0f0d"},"br":{"language":"br","value":"den"},"bs":{"language":"bs","value":"\u010covjek"},"ca":{"language":"ca","value":"hum\u00e0"},"cs":{"language":"cs","value":"\u010dlov\u011bk"},"cv":{"language":"cv","value":"\u0422\u0103\u043d\u043b\u0103
        \u00e7\u044b\u043d"},"cy":{"language":"cy","value":"bod dynol"},"da":{"language":"da","value":"menneske"},"diq":{"language":"diq","value":"Merdum"},"el":{"language":"el","value":"\u03ac\u03bd\u03b8\u03c1\u03c9\u03c0\u03bf\u03c2"},"et":{"language":"et","value":"Inimene"},"eu":{"language":"eu","value":"gizakia"},"ext":{"language":"ext","value":"Homo
        Sapiens"},"fa":{"language":"fa","value":"\u0627\u0646\u0633\u0627\u0646"},"fo":{"language":"fo","value":"Menniskja"},"frp":{"language":"frp","value":"Homan"},"frr":{"language":"frr","value":"Minsk"},"fy":{"language":"fy","value":"minske"},"ga":{"language":"ga","value":"Duine"},"gan":{"language":"gan","value":"\u4eba"},"gl":{"language":"gl","value":"ser
        humano"},"glk":{"language":"glk","value":"\u0622\u062f\u0645"},"gn":{"language":"gn","value":"Yvyp\u00f3ra"},"gu":{"language":"gu","value":"\u0aae\u0aa8\u0ac1\u0ab7\u0acd\u0aaf"},"ha":{"language":"ha","value":"Yan-adam"},"hak":{"language":"hak","value":"Ng\u00ecn-lui"},"he":{"language":"he","value":"\u05d0\u05d3\u05dd"},"hi":{"language":"hi","value":"\u092e\u0928\u0941\u0937\u094d\u092f"},"hif":{"language":"hif","value":"Insaan"},"ht":{"language":"ht","value":"Homo
        sapiens"},"hu":{"language":"hu","value":"ember"},"hy":{"language":"hy","value":"\u0574\u0561\u0580\u0564"},"ia":{"language":"ia","value":"esser
        human"},"id":{"language":"id","value":"Manusia"},"ig":{"language":"ig","value":"M\u00e1du"},"ilo":{"language":"ilo","value":"tao"},"io":{"language":"io","value":"homo"},"is":{"language":"is","value":"ma\u00f0ur"},"iu":{"language":"iu","value":"\u1404\u1483"},"jbo":{"language":"jbo","value":"lo
        remna"},"jv":{"language":"jv","value":"Menungsa"},"ka":{"language":"ka","value":"\u10d0\u10d3\u10d0\u10db\u10d8\u10d0\u10dc\u10d8"},"kg":{"language":"kg","value":"Muntu"},"kk":{"language":"kk","value":"\u0421\u0430\u043d\u0430\u043b\u044b
        \u0430\u0434\u0430\u043c"},"kn":{"language":"kn","value":"\u0cae\u0cbe\u0ca8\u0cb5"},"koi":{"language":"koi","value":"\u041c\u043e\u0440\u0442"},"ksh":{"language":"ksh","value":"Minsch"},"ku":{"language":"ku","value":"Mirov"},"kv":{"language":"kv","value":"\u041c\u043e\u0440\u0442"},"kw":{"language":"kw","value":"Tus"},"la":{"language":"la","value":"homo
        sapiens"},"lbe":{"language":"lbe","value":"\u0418\u043d\u0441\u0430\u043d"},"lez":{"language":"lez","value":"\u041a\u0430\u0441"},"li":{"language":"li","value":"Mins"},"lij":{"language":"lij","value":"\u00cbse
        uman"},"ln":{"language":"ln","value":"Moto"},"lt":{"language":"lt","value":"\u017emogus"},"ltg":{"language":"ltg","value":"Cylv\u0101ks"},"lv":{"language":"lv","value":"cilv\u0113ks"},"mdf":{"language":"mdf","value":"\u041b\u043e\u043c\u0430\u043d\u0446\u044c"},"mg":{"language":"mg","value":"Olombelona"},"mhr":{"language":"mhr","value":"\u0410\u0439\u0434\u0435\u043c\u0435"},"mk":{"language":"mk","value":"\u0447\u043e\u0432\u0435\u043a"},"ml":{"language":"ml","value":"\u0d2e\u0d28\u0d41\u0d37\u0d4d\u0d2f\u0d7b"},"mn":{"language":"mn","value":"\u0425\u04af\u043d"},"mr":{"language":"mr","value":"\u092e\u093e\u0928\u0935"},"ms":{"language":"ms","value":"Manusia"},"mt":{"language":"mt","value":"bniedem"},"mwl":{"language":"mwl","value":"Homo
        sapiens"},"my":{"language":"my","value":"\u101c\u1030"},"nah":{"language":"nah","value":"Tl\u0101catl"},"nds":{"language":"nds","value":"Minsch"},"ne":{"language":"ne","value":"\u092e\u093e\u0928\u093f\u0938"},"nl":{"language":"nl","value":"mens"},"nn":{"language":"nn","value":"menneske"},"nov":{"language":"nov","value":"homo
        sapiens"},"oc":{"language":"oc","value":"homo sapiens"},"or":{"language":"or","value":"\u0b2e\u0b23\u0b3f\u0b37"},"os":{"language":"os","value":"\u0410\u0434\u00e6\u0439\u043c\u0430\u0433"},"pms":{"language":"pms","value":"\u00d2m"},"pnb":{"language":"pnb","value":"\u0627\u0646\u0633\u0627\u0646"},"ps":{"language":"ps","value":"\u0627\u0646\u0633\u0627\u0646"},"qu":{"language":"qu","value":"Runa"},"ro":{"language":"ro","value":"om"},"rue":{"language":"rue","value":"\u0427\u043e\u043b\u043e\u0432\u0456\u043a
        \u0440\u043e\u0437\u0443\u043c\u043d\u044b\u0439"},"sa":{"language":"sa","value":"\u092e\u0928\u0941\u0937\u094d\u092f\u0903"},"sah":{"language":"sah","value":"\u041a\u0438h\u0438"},"scn":{"language":"scn","value":"\u00e8ssiri
        umanu"},"sco":{"language":"sco","value":"body"},"se":{"language":"se","value":"Olmmo\u0161"},"sh":{"language":"sh","value":"\u010covjek"},"si":{"language":"si","value":"\u0db8\u0dd2\u0db1\u0dd2\u0dc3\u0dcf"},"sk":{"language":"sk","value":"\u010dlovek
        rozumn\u00fd"},"sl":{"language":"sl","value":"\u010dlovek"},"so":{"language":"so","value":"Biniaadan"},"sq":{"language":"sq","value":"njeriu"},"sr":{"language":"sr","value":"\u0447\u043e\u0432\u0435\u043a"},"su":{"language":"su","value":"Manusa"},"sv":{"language":"sv","value":"m\u00e4nniska"},"sw":{"language":"sw","value":"binadamu"},"szl":{"language":"szl","value":"Czowjek"},"ta":{"language":"ta","value":"\u0bae\u0ba9\u0bbf\u0ba4\u0bb0\u0bcd"},"te":{"language":"te","value":"\u0c2e\u0c3e\u0c28\u0c35\u0c41\u0c21\u0c41"},"tg":{"language":"tg","value":"\u041e\u0434\u0430\u043c"},"th":{"language":"th","value":"\u0e21\u0e19\u0e38\u0e29\u0e22\u0e4c"},"tl":{"language":"tl","value":"Tao"},"tr":{"language":"tr","value":"insan"},"tt":{"language":"tt","value":"\u041a\u0435\u0448\u0435"},"uk":{"language":"uk","value":"\u043b\u044e\u0434\u0438\u043d\u0430
        \u0440\u043e\u0437\u0443\u043c\u043d\u0430"},"ur":{"language":"ur","value":"\u0627\u0646\u0633\u0627\u0646"},"vec":{"language":"vec","value":"Homo
        sapiens"},"vi":{"language":"vi","value":"ng\u01b0\u1eddi"},"vls":{"language":"vls","value":"Mens"},"wa":{"language":"wa","value":"Djin"},"war":{"language":"war","value":"Tawo"},"xh":{"language":"xh","value":"Abantu"},"yi":{"language":"yi","value":"\u05de\u05e2\u05e0\u05d8\u05e9"},"yo":{"language":"yo","value":"\u1eccm\u1ecdn\u00ecy\u00e0n"},"za":{"language":"za","value":"Vunz"},"en-ca":{"language":"en-ca","value":"Human"},"de-ch":{"language":"de-ch","value":"Mensch"},"pt-br":{"language":"pt-br","value":"ser
        humano"},"nb":{"language":"nb","value":"menneske"},"zh-hans":{"language":"zh-hans","value":"\u4eba"},"zh-cn":{"language":"zh-cn","value":"\u4eba"},"zh-sg":{"language":"zh-sg","value":"\u4eba"},"zh-my":{"language":"zh-my","value":"\u4eba"},"zh-hk":{"language":"zh-hk","value":"\u4eba"},"zh-tw":{"language":"zh-tw","value":"\u4eba"},"zh-mo":{"language":"zh-mo","value":"\u4eba"},"pa":{"language":"pa","value":"\u0a2e\u0a28\u0a41\u0a71\u0a16"},"ckb":{"language":"ckb","value":"\u0645\u0631\u06c6\u06a4"},"ceb":{"language":"ceb","value":"Tawo"},"min":{"language":"min","value":"Manusio"},"mzn":{"language":"mzn","value":"\u0622\u062f\u0645"},"vep":{"language":"vep","value":"Ristit"},"stq":{"language":"stq","value":"Moanske"},"fur":{"language":"fur","value":"Omp"},"ks":{"language":"ks","value":"\u0627\u0650\u0646\u0633\u0627\u0646"},"pam":{"language":"pam","value":"Tau"},"lb":{"language":"lb","value":"M\u00ebnsch"},"gsw":{"language":"gsw","value":"M\u00e4nsch"},"ace":{"language":"ace","value":"Tokoh"},"wuu":{"language":"wuu","value":"\u4eba"},"bxr":{"language":"bxr","value":"\u0423\u0445\u0430\u0430\u043d\u0442\u0430
        \u0445\u04af\u043d"},"sr-el":{"language":"sr-el","value":"\u010dovek"},"cdo":{"language":"cdo","value":"N\u00e8\u0324ng"},"bh":{"language":"bh","value":"\u092e\u0928\u0941\u0937\u094d\u092f"},"grc":{"language":"grc","value":"\u1f04\u03bd\u03b8\u03c1\u03c9\u03c0\u03bf\u03c2"},"lzz":{"language":"lzz","value":"k''o\u00e7i"},"rm":{"language":"rm","value":"uman"},"mai":{"language":"mai","value":"\u0932\u094b\u0917"},"ak":{"language":"ak","value":"onipa"},"ce":{"language":"ce","value":"\u0430\u0434\u0430\u043c"},"ky":{"language":"ky","value":"\u0410\u0434\u0430\u043c
        (\u043a\u0438\u0448\u0438)"},"xmf":{"language":"xmf","value":"\u10d0\u10d3\u10d0\u10db\u10d8\u10d4\u10e0\u10d8"},"lo":{"language":"lo","value":"\u0e9c\u0eb9\u0ec9\u0e84\u0ebb\u0e99"},"azb":{"language":"azb","value":"\u0627\u06cc\u0646\u0633\u0627\u0646"},"bho":{"language":"bho","value":"\u092e\u0928\u0941\u0937\u094d\u092f"},"zh-yue":{"language":"zh-yue","value":"\u4eba"}},"descriptions":{"en":{"language":"en","value":"common
        name of Homo sapiens (Q15978631), unique extant species of the genus Homo.
        (See also ''fictional human (Q15632617)'' and ''human who may be fictional
        (Q21070568)'')"},"fr":{"language":"fr","value":"individu de l''esp\u00e8ce
        Homo sapiens (Q15978631) (distinct de  ''humain fictif (Q15632617)'' et de
        ''humain possiblement fictif (Q21070568)'')"},"de":{"language":"de[...]
