---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q401383
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=73645 t=1468243349606502
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 5.148.47.7
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q401383":{"pageid":380712,"ns":0,"title":"Q401383","lastrevid":318138479,"modified":"2016-04-02T05:12:27Z","type":"item","id":"Q401383","labels":{"de":{"language":"de","value":"Ahmed
        Marcouch"},"en":{"language":"en","value":"Ahmed Marcouch"},"nl":{"language":"nl","value":"Ahmed
        Marcouch"},"fr":{"language":"fr","value":"Ahmed Marcouch"},"es":{"language":"es","value":"Ahmed
        Marcouch"},"nb":{"language":"nb","value":"Ahmed Marcouch"},"da":{"language":"da","value":"Ahmed
        Marcouch"},"nn":{"language":"nn","value":"Ahmed Marcouch"},"sv":{"language":"sv","value":"Ahmed
        Marcouch"},"hu":{"language":"hu","value":"Ahmed Marcouch"}},"descriptions":{"de":{"language":"de","value":"niederl\u00e4ndischer
        Politiker (Partij van de Arbeid)"},"fa":{"language":"fa","value":"\u0633\u06cc\u0627\u0633\u062a\u200c\u0645\u062f\u0627\u0631
        \u0647\u0644\u0646\u062f\u06cc"},"nn":{"language":"nn","value":"nederlandsk
        politikar"},"nb":{"language":"nb","value":"nederlandsk politiker"},"da":{"language":"da","value":"nederlandsk
        politiker"},"sv":{"language":"sv","value":"nederl\u00e4ndsk politiker"},"nl":{"language":"nl","value":"Nederlands
        politicus"},"en":{"language":"en","value":"Dutch politician, police officer,
        civil servant and eductor"}},"aliases":{"de":[{"language":"de","value":"Marcouch"}],"nl":[{"language":"nl","value":"Marcouch"}]},"claims":{"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q401383$DA20B81F-497B-489D-A9EA-663605083991","rank":"normal"}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":55},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q401383$D0E27C30-99A4-4107-929C-59F025DE5276","rank":"normal","references":[{"hash":"223f43a7229297bd67ffab922174f80c722fff1a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":10000},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Ahmed
        Marcouch","type":"string"},"datatype":"string"},"type":"statement","id":"q401383$140A9A9A-B91E-4C4D-988B-D5976FCA90AD","rank":"normal"}],"P214":[{"mainsnak":{"snaktype":"value","property":"P214","datavalue":{"value":"163564891","type":"string"},"datatype":"external-id"},"type":"statement","id":"q401383$F6D0028D-9970-4E9F-A227-CFF1C242EC71","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"004ec6fbee857649acdbdbad4f97b2c8571df97b","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P213":[{"mainsnak":{"snaktype":"value","property":"P213","datavalue":{"value":"0000
        0001 2232 897X","type":"string"},"datatype":"external-id"},"type":"statement","id":"q401383$D9B1C4D4-31C7-4C69-8DA2-B6C450E62355","rank":"normal","references":[{"hash":"500bf0768a4645f1e00ad451f904d3a010fa43ae","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":423048},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P227":[{"mainsnak":{"snaktype":"value","property":"P227","datavalue":{"value":"143243411","type":"string"},"datatype":"external-id"},"type":"statement","id":"q401383$345E6AFF-B2D3-4851-85AD-015B505F6DA3","rank":"normal","references":[{"hash":"004ec6fbee857649acdbdbad4f97b2c8571df97b","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P244":[{"mainsnak":{"snaktype":"value","property":"P244","datavalue":{"value":"n2011050773","type":"string"},"datatype":"external-id"},"type":"statement","id":"q401383$7988C07F-CE1C-4AB1-AF52-EA1F64A693AB","rank":"normal","references":[{"hash":"004ec6fbee857649acdbdbad4f97b2c8571df97b","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P102":[{"mainsnak":{"snaktype":"value","property":"P102","datavalue":{"value":{"entity-type":"item","numeric-id":275441},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q401383$CF3BD3B5-5E63-48A2-9F22-83CC3CFF77C8","rank":"normal","references":[{"hash":"223f43a7229297bd67ffab922174f80c722fff1a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":10000},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":82955},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q401383$F0858211-C07C-4B9D-ACB7-B48AFBA09BD9","rank":"normal","references":[{"hash":"223f43a7229297bd67ffab922174f80c722fff1a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":10000},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P39":[{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":18887908},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q401383$5A1657FA-0AE0-4E21-896F-B4F2DA788B5E","rank":"normal"}],"P69":[{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":945017},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q401383$2A81C7C7-1760-424F-80DB-67A30961A6AD","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q401383$887B01B0-7468-4E72-B12D-23A7CFECAD6B","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/0fphcyy","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q401383$DE44C70B-3325-4985-ACDB-3F5473A6DC0B","rank":"normal","references":[{"hash":"af38848ab5d9d9325cffd93a5ec656cc6ca889ed","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1969-05-02T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q401383$3D76A200-B31A-497F-9410-C9A586E47C62","rank":"normal","references":[{"hash":"004ec6fbee857649acdbdbad4f97b2c8571df97b","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"0880b536cefbeb43ab92c59ea53ba2aa509b4c29","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":36578},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2014-04-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]},{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1966-05-02T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q401383$ba831d4e-46e2-6733-5266-e8c2cbe216ae","rank":"preferred","references":[{"hash":"bef01215268eaea78da45887329e686f73db685b","snaks":{"P1896":[{"snaktype":"value","property":"P1896","datavalue":{"value":"https://www.houseofrepresentatives.nl/members_of_parliament/members_of_parliament/marcouch-pvda","type":"string"},"datatype":"url"}]},"snaks-order":["P1896"]}]}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"14.
        Ahmed Marcouch.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q401383$5527D5BA-4398-4FCF-A4EB-7251A6619C96","rank":"normal","references":[{"hash":"223f43a7229297bd67ffab922174f80c722fff1a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":10000},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","datavalue":{"value":{"entity-type":"item","numeric-id":18607893},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q401383$7CF9918F-17A9-4AAC-BFE6-939CCB2AB2FB","rank":"normal"}],"P1006":[{"mainsnak":{"snaktype":"value","property":"P1006","datavalue":{"value":"315744472","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q401383$AE3BEE43-2946-41D8-B2E6-440271D6B534","rank":"normal","references":[{"hash":"0950fb56765d565d763d6e74108798ef2043b5b0","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":54919},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2014-12-16T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://viaf.org/viaf/163564891","type":"string"},"datatype":"url"}]},"snaks-order":["P248","P813","P854"]}]}],"P1749":[{"mainsnak":{"snaktype":"value","property":"P1749","datavalue":{"value":"vidmm35hm6yx","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q401383$42DEC946-96C7-4FEE-8DEF-9BEAF86CA7E5","rank":"normal"}]},"sitelinks":{"dewiki":{"site":"dewiki","title":"Ahmed
        Marcouch","badges":[]},"enwiki":{"site":"enwiki","title":"Ahmed Marcouch","badges":[]},"nlwiki":{"site":"nlwiki","title":"Ahmed
        Marcouch","badges":[]}}}},"success":1}'
  recorded_at: Mon, 11 Jul 2016 13:22:30 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q6581097%7CQ55%7CQ10000%7CQ328%7CQ48183%7CQ423048%7CQ275441%7CQ82955%7CQ18887908%7CQ945017%7CQ5%7CQ15241312%7CQ36578%7CQ18607893%7CQ54919
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=276105 t=1468243350551678
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 5.148.47.7
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q6581097":{"pageid":6406677,"ns":0,"title":"Q6581097","lastrevid":354881898,"modified":"2016-07-06T15:52:08Z","type":"item","id":"Q6581097","labels":{"fr":{"language":"fr","value":"masculin"},"en":{"language":"en","value":"male"},"fi":{"language":"fi","value":"mies"},"en-gb":{"language":"en-gb","value":"male"},"it":{"language":"it","value":"maschio"},"de":{"language":"de","value":"m\u00e4nnlich"},"sv":{"language":"sv","value":"man"},"cs":{"language":"cs","value":"mu\u017e"},"zh":{"language":"zh","value":"\u7537\u6027"},"zh-hans":{"language":"zh-hans","value":"\u7537\u6027"},"pl":{"language":"pl","value":"m\u0119\u017cczyzna"},"zh-hant":{"language":"zh-hant","value":"\u7537\u6027"},"ca":{"language":"ca","value":"home"},"pt-br":{"language":"pt-br","value":"masculino"},"ru":{"language":"ru","value":"\u043c\u0443\u0436\u0441\u043a\u043e\u0439"},"uk":{"language":"uk","value":"\u0447\u043e\u043b\u043e\u0432\u0456\u0447\u0430"},"pt":{"language":"pt","value":"masculino"},"el":{"language":"el","value":"\u03ac\u03bd\u03b4\u03c1\u03b1\u03c2"},"lv":{"language":"lv","value":"v\u012brietis"},"nl":{"language":"nl","value":"mannelijk"},"gl":{"language":"gl","value":"home"},"es":{"language":"es","value":"masculino"},"ko":{"language":"ko","value":"\ub0a8\uc131"},"be-tarask":{"language":"be-tarask","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0430\u044f"},"hu":{"language":"hu","value":"f\u00e9rfi"},"af":{"language":"af","value":"man"},"ja":{"language":"ja","value":"\u7537\u6027"},"eu":{"language":"eu","value":"gizonezkoa"},"he":{"language":"he","value":"\u05d6\u05db\u05e8"},"vi":{"language":"vi","value":"nam
        gi\u1edbi"},"id":{"language":"id","value":"pria"},"min":{"language":"min","value":"laki-laki"},"sl":{"language":"sl","value":"mo\u0161ki"},"ka":{"language":"ka","value":"\u10db\u10d0\u10db\u10e0\u10dd\u10d1\u10d8\u10d7\u10d8"},"fa":{"language":"fa","value":"\u0645\u0630\u06a9\u0631"},"ro":{"language":"ro","value":"b\u0103rbat"},"nb":{"language":"nb","value":"mann"},"be":{"language":"be","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0456"},"da":{"language":"da","value":"mand"},"uz":{"language":"uz","value":"erkak"},"sco":{"language":"sco","value":"male"},"mzn":{"language":"mzn","value":"\u0645\u0630\u06a9\u0631"},"sr":{"language":"sr","value":"\u043c\u0443\u0448\u043a\u0438"},"nds":{"language":"nds","value":"Mann"},"bn":{"language":"bn","value":"\u09aa\u09c1\u09b0\u09c1\u09b7"},"bs":{"language":"bs","value":"mu\u0161ki"},"ilo":{"language":"ilo","value":"lalaki"},"br":{"language":"br","value":"paotr"},"sq":{"language":"sq","value":"mashkull"},"nds-nl":{"language":"nds-nl","value":"man"},"la":{"language":"la","value":"masculinus"},"tr":{"language":"tr","value":"erkek"},"hr":{"language":"hr","value":"mu\u0161ko"},"nn":{"language":"nn","value":"mann"},"bg":{"language":"bg","value":"\u043c\u044a\u0436\u043a\u0438"},"th":{"language":"th","value":"\u0e40\u0e1e\u0e28\u0e0a\u0e32\u0e22"},"gu":{"language":"gu","value":"\u0aaa\u0ac1\u0ab0\u0ac1\u0ab7"},"mr":{"language":"mr","value":"\u092a\u0941\u0930\u0942\u0937"},"eo":{"language":"eo","value":"vira"},"oc":{"language":"oc","value":"\u00f2me"},"ta":{"language":"ta","value":"\u0b86\u0ba3\u0bcd"},"mk":{"language":"mk","value":"\u043c\u0430\u0448\u043a\u0438"},"hi":{"language":"hi","value":"\u092a\u0941\u0930\u0941\u0937"},"en-ca":{"language":"en-ca","value":"male"},"rm":{"language":"rm","value":"masculin"},"yi":{"language":"yi","value":"\u05d6\u05db\u05e8"},"yue":{"language":"yue","value":"\u7537"},"zh-cn":{"language":"zh-cn","value":"\u7537\u6027"},"ar":{"language":"ar","value":"\u0630\u0643\u0631"},"tl":{"language":"tl","value":"lalaki"},"is":{"language":"is","value":"karlma\u00f0ur"},"zh-tw":{"language":"zh-tw","value":"\u7537\u6027"},"ksh":{"language":"ksh","value":"m\u00e4nnlesch"},"sk":{"language":"sk","value":"mu\u017e"},"hy":{"language":"hy","value":"\u0561\u0580\u0561\u056f\u0561\u0576"},"gsw":{"language":"gsw","value":"m\u00e4nnli"},"zh-hk":{"language":"zh-hk","value":"\u7537\u6027"},"te":{"language":"te","value":"\u0c2a\u0c41\u0c30\u0c41\u0c37\u0c41\u0c21\u0c41"},"tokipona":{"language":"tokipona","value":"mije"},"or":{"language":"or","value":"\u0b2a\u0b41\u0b30\u0b41\u0b37"},"ml":{"language":"ml","value":"\u0d2a\u0d41\u0d30\u0d41\u0d37\u0d7b"},"lb":{"language":"lb","value":"m\u00e4nnlech"},"sr-el":{"language":"sr-el","value":"mu\u0161ki"},"et":{"language":"et","value":"meessoost"},"fo":{"language":"fo","value":"ma\u00f0ur"},"lez":{"language":"lez","value":"\u0438\u0442\u0438\u043c\u0434\u0438\u043d"},"fy":{"language":"fy","value":"man"},"scn":{"language":"scn","value":"m\u00e0sculu"},"mg":{"language":"mg","value":"lehilahy"},"ce":{"language":"ce","value":"\u0431\u043e\u0436\u0430\u0440\u0438\u0439\u043d"},"ne":{"language":"ne","value":"\u092a\u0941\u0930\u0941\u0937"},"hsb":{"language":"hsb","value":"mu\u017e"},"sh":{"language":"sh","value":"mu\u0161karac"},"cy":{"language":"cy","value":"gwrywaidd"},"ckb":{"language":"ckb","value":"\u0646\u06ce\u0631"},"jbo":{"language":"jbo","value":"lo
        nakni"},"kn":{"language":"kn","value":"\u0caa\u0cc1\u0cb0\u0cc1\u0cb7"},"lt":{"language":"lt","value":"vyras"},"ast":{"language":"ast","value":"mascul\u00edn"},"pa":{"language":"pa","value":"\u0a2e\u0a30\u0a26"},"ps":{"language":"ps","value":"\u0646\u0627\u0631\u064a\u0646\u0647"},"ga":{"language":"ga","value":"fireann"},"ia":{"language":"ia","value":"mascule"},"tg":{"language":"tg","value":"\u043c\u0430\u0440\u0434"}},"descriptions":{"fr":{"language":"fr","value":"\u00e9l\u00e9ment
        \u00e0 utiliser dans P21 pour signifier que la personne est de sexe masculin"},"en":{"language":"en","value":"human
        gender (use with property:P21)"},"fi":{"language":"fi","value":"k\u00e4ytet\u00e4\u00e4n
        ominaisuudessa P21 osoittamaan, ett\u00e4 kohteen aihe on miespuolinen"},"en-gb":{"language":"en-gb","value":"to
        be used in Property:P21 to indi[...]
