---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q12341
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q12341":{"pageid":13921,"ns":0,"title":"Q12341","lastrevid":297396215,"modified":"2016-01-29T17:11:44Z","type":"item","id":"Q12341","labels":{"en":{"language":"en","value":"Roberto
        Noble"},"it":{"language":"it","value":"Roberto Noble"},"fr":{"language":"fr","value":"Roberto
        Noble"},"de":{"language":"de","value":"Roberto Noble"},"es":{"language":"es","value":"Roberto
        Noble"},"nl":{"language":"nl","value":"Roberto Noble"},"ca":{"language":"ca","value":"Roberto
        Noble"},"oc":{"language":"oc","value":"Roberto Noble"},"nb":{"language":"nb","value":"Roberto
        Noble"},"da":{"language":"da","value":"Roberto Noble"},"nn":{"language":"nn","value":"Roberto
        Noble"},"sv":{"language":"sv","value":"Roberto Noble"},"el":{"language":"el","value":"\u03a1\u03bf\u03bc\u03c0\u03ad\u03c1\u03c4\u03bf
        \u039d\u03cc\u03bc\u03c0\u03bb\u03b5"},"gl":{"language":"gl","value":"Roberto
        Noble"},"pt":{"language":"pt","value":"Roberto Noble"}},"descriptions":{"en":{"language":"en","value":"Argentine
        politician, journalist and publisher, founder of Argentinian newspaper Clar\u00edn"},"it":{"language":"it","value":"giornalista
        e politico argentino"},"es":{"language":"es","value":"periodista, pol\u00edtico
        y empresario argentino"},"de":{"language":"de","value":"argentinischer Politiker,
        Journalist und Verleger"},"fr":{"language":"fr","value":"homme politique,
        journaliste et \u00e9diteur argentin, fondateur du journal argentin Clar\u00edn"},"fa":{"language":"fa","value":"\u0698\u0648\u0631\u0646\u0627\u0644\u06cc\u0633\u062a
        \u0622\u0631\u0698\u0627\u0646\u062a\u06cc\u0646\u06cc"},"nl":{"language":"nl","value":"journalist
        uit Argentini\u00eb (1902-1969)"}},"aliases":{},"claims":{"P119":[{"mainsnak":{"snaktype":"value","property":"P119","datavalue":{"value":{"entity-type":"item","numeric-id":831322},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q12341$3B0372AC-01B0-427C-894F-0DD71C9CBF4C","rank":"normal"}],"P214":[{"mainsnak":{"snaktype":"value","property":"P214","datavalue":{"value":"63227334","type":"string"},"datatype":"string"},"type":"statement","id":"q12341$A5C02792-2795-48BA-BEB3-6B91EC30BCB8","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q12341$08553B8A-68C4-437E-A401-22CBF5E15A63","rank":"normal","references":[{"hash":"f6f2ef52fd94d145f7dbc647b2b58d2cb947fcd4","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":1071027},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$1DAEDD5B-3E9C-4528-A1F8-172404B2EE9A","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P19":[{"mainsnak":{"snaktype":"value","property":"P19","datavalue":{"value":{"entity-type":"item","numeric-id":44059},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$3D7054D3-E5F0-4A9E-84E1-E934FE318A3E","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P20":[{"mainsnak":{"snaktype":"value","property":"P20","datavalue":{"value":{"entity-type":"item","numeric-id":1486},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$0CC31A9C-7DD8-46CB-B606-FB1D4616F7F0","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P69":[{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":784171},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$578E74F4-9B67-4AC8-9A0A-0499E2B62B2D","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Roberto
        Noble.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q12341$26F61E8A-CA81-433A-9993-B625723CA29D","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Roberto
        Noble con su hija y Frondizi.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q12341$4CC8305A-0B19-4111-810B-A5FFE9DCB65C","rank":"normal"}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1902-09-09T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q12341$32FA4A6C-3480-4031-82D3-ADBB04BDB947","rank":"normal","references":[{"hash":"dbe2189e7b0d3953de6f69cc1cc88109a79605a4","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8449},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P570":[{"mainsnak":{"snaktype":"value","property":"P570","datavalue":{"value":{"time":"+1969-01-12T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q12341$87786E45-8F91-44B9-A18F-448564106D06","rank":"normal","references":[{"hash":"dbe2189e7b0d3953de6f69cc1cc88109a79605a4","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8449},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":414},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$58FC0B8D-FDA9-46AA-88CC-2FD16D164C5A","rank":"normal"}],"P166":[{"mainsnak":{"snaktype":"value","property":"P166","datavalue":{"value":{"entity-type":"item","numeric-id":2113},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$1D38B5A6-AB7C-4849-BFC6-E6E3E0226C00","rank":"normal"}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":1930187},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$E04970BF-067C-447B-B71C-206702C9CE68","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":82955},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$E47F3315-07A4-4B39-93FA-9B60E9286C40","rank":"normal"}],"P140":[{"mainsnak":{"snaktype":"value","property":"P140","datavalue":{"value":{"entity-type":"item","numeric-id":9592},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$A81004DC-1950-49DD-9740-C5920FD5747A","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","datavalue":{"value":{"entity-type":"item","numeric-id":15905580},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$6C018D97-ECED-496A-A4EF-956EF1D88C9C","rank":"normal"}],"P39":[{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":18229570},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$35345F0E-7DEC-4944-A742-50E153ECA317","rank":"normal"}],"P1412":[{"mainsnak":{"snaktype":"value","property":"P1412","datavalue":{"value":{"entity-type":"item","numeric-id":1321},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q12341$F5D5BC86-1C1E-4DCF-A96B-35A2AB51B35A","rank":"normal"}],"P1971":[{"mainsnak":{"snaktype":"value","property":"P1971","datavalue":{"value":{"amount":"+1","unit":"1","upperBound":"+1","lowerBound":"+1"},"type":"quantity"},"datatype":"quantity"},"type":"statement","id":"Q12341$8737CA3E-EDA7-417A-91ED-94ED15AE41C9","rank":"normal"}],"P269":[{"mainsnak":{"snaktype":"value","property":"P269","datavalue":{"value":"083311599","type":"string"},"datatype":"string"},"type":"statement","id":"Q12341$FA8AB92D-FA39-47DC-A3FB-A38514FCB855","rank":"normal","references":[{"hash":"ca9e0c52719e50a884b361d1a9a31d004195d376","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":54919},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2015-10-06T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P143","P813"]}]}],"P26":[{"mainsnak":{"snaktype":"value","property":"P26","datavalue":{"value":{"entity-type":"item","numeric-id":3057247},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P580":[{"snaktype":"value","property":"P580","hash":"bc62772c1373be894b8a6d65182c5b02ada6d763","datavalue":{"value":{"time":"+1967-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P582":[{"snaktype":"value","property":"P582","hash":"7aaeb497d5c5d96c1bc7f584da6eaf3ebcacea50","datavalue":{"value":{"time":"+1969-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P580","P582"],"id":"Q12341$564679BA-8B68-4205-901B-47C16E0EF0FA","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P2163":[{"mainsnak":{"snaktype":"value","property":"P2163","datavalue":{"value":"331298","type":"string"},"datatype":"string"},"type":"statement","id":"Q12341$93A5E948-B836-488E-8DA6-47FA068DBAB2","rank":"normal"}]},"sitelinks":{"enwiki":{"site":"enwiki","title":"Roberto
        Noble","badges":[]},"eswiki":{"site":"eswiki","title":"Roberto Noble","badges":[]},"glwiki":{"site":"glwiki","title":"Roberto
        Noble","badges":[]},"ocwiki":{"site":"ocwiki","title":"Roberto Noble","badges":[]},"ptwiki":{"site":"ptwiki","title":"Roberto
        Noble","badges":[]}}}},"success":1}'
  recorded_at: Thu, 04 Feb 2016 09:46:17 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q831322%7CQ328%7CQ6581097%7CQ1071027%7CQ5%7CQ44059%7CQ1486%7CQ784171%7CQ8449%7CQ414%7CQ2113%7CQ1930187%7CQ82955%7CQ9592%7CQ15905580%7CQ18229570%7CQ1321%7CQ54919%7CQ3057247
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q831322":{"pageid":784036,"ns":0,"title":"Q831322","lastrevid":297923592,"modified":"2016-01-30T16:43:41Z","type":"item","id":"Q831322","labels":{"es":{"language":"es","value":"Cementerio
        de la Recoleta"},"ca":{"language":"ca","value":"Cementiri de la Recoleta"},"de":{"language":"de","value":"Friedhof
        La Recoleta"},"de-ch":{"language":"de-ch","value":"Friedhof La Recoleta"},"en":{"language":"en","value":"La
        Recoleta Cemetery"},"en-ca":{"language":"en-ca","value":"La Recoleta Cemetery"},"en-gb":{"language":"en-gb","value":"La
        Recoleta Cemetery"},"fr":{"language":"fr","value":"cimeti\u00e8re de Recoleta"},"it":{"language":"it","value":"Cimitero
        della Recoleta"},"pl":{"language":"pl","value":"Cementerio de la Recoleta"},"pt":{"language":"pt","value":"Cemit\u00e9rio
        da Recoleta"},"pt-br":{"language":"pt-br","value":"Cemit\u00e9rio da Recoleta"},"ru":{"language":"ru","value":"\u043a\u043b\u0430\u0434\u0431\u0438\u0449\u0435
        \u0420\u0435\u043a\u043e\u043b\u0435\u0442\u0430"},"sv":{"language":"sv","value":"Cementerio
        de La Recoleta"},"uk":{"language":"uk","value":"\u0420\u0435\u043a\u043e\u043b\u0435\u0442\u0430
        (\u0446\u0432\u0438\u043d\u0442\u0430\u0440)"},"oc":{"language":"oc","value":"Cement\u00e8ri
        de Recoleta"},"ar":{"language":"ar","value":"\u0645\u0642\u0628\u0631\u0629
        \u0644\u0627 \u0631\u064a\u0643\u0648\u0644\u064a\u062a\u0627"},"id":{"language":"id","value":"Permakaman
        La Recoleta"},"eo":{"language":"eo","value":"Tombejo Rekoleta"},"be":{"language":"be","value":"\u041c\u043e\u0433\u0456\u043b\u043a\u0456
        \u0420\u044d\u043a\u0430\u043b\u0435\u0442\u0430"},"az":{"language":"az","value":"Rekoleta
        q\u0259biristanl\u0131\u011f\u0131"},"nl":{"language":"nl","value":"La Recoleta
        Begraafplaats"},"cs":{"language":"cs","value":"H\u0159bitov La Recoleta"}},"descriptions":{"es":{"language":"es","value":"cementerio
        de la Ciudad Aut\u00f3noma de Buenos Aires"},"cs":{"language":"cs","value":"h\u0159bitov
        v Buenos Aires"},"ca":{"language":"ca","value":"Cementiri de Buenos Aires"},"en":{"language":"en","value":"cemetery"},"nl":{"language":"nl","value":"begraafplaats
        in Buenos Aires, Argentini\u00eb"}},"aliases":{},"claims":{"P17":[{"mainsnak":{"snaktype":"value","property":"P17","datavalue":{"value":{"entity-type":"item","numeric-id":414},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q831322$60DDA87E-7EDA-43C9-9FA1-5A62F20A8693","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":39614},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q831322$E8D4FCB9-2745-409F-9DF4-58A83299794F","rank":"normal"}],"P131":[{"mainsnak":{"snaktype":"value","property":"P131","datavalue":{"value":{"entity-type":"item","numeric-id":1486},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q831322$F1A4F89B-5E49-4FCF-96E9-A5F44F7045CF","rank":"normal"}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Recoleta
        Cemetery","type":"string"},"datatype":"string"},"type":"statement","id":"q831322$7B9C5780-B33D-4024-ACF9-C4D9C0AEB610","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P625":[{"mainsnak":{"snaktype":"value","property":"P625","datavalue":{"value":{"latitude":-34.588055555556,"longitude":-58.393055555556,"altitude":null,"precision":null,"globe":"http://www.wikidata.org/entity/Q2"},"type":"globecoordinate"},"datatype":"globe-coordinate"},"type":"statement","id":"q831322$D5557170-BD2B-4B74-9928-E922C4552886","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/0l6v6","type":"string"},"datatype":"string"},"type":"statement","id":"Q831322$D630154F-6285-4165-A16D-92FA31DAD104","rank":"normal","references":[{"hash":"af38848ab5d9d9325cffd93a5ec656cc6ca889ed","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P1566":[{"mainsnak":{"snaktype":"value","property":"P1566","datavalue":{"value":"7576103","type":"string"},"datatype":"string"},"type":"statement","id":"Q831322$1EADD269-12B0-4D9E-AC84-56D08735271F","rank":"normal","references":[{"hash":"d6193e4d78598db1a6aaa453fface1553022f1f2","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":830106},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P149":[{"mainsnak":{"snaktype":"value","property":"P149","datavalue":{"value":{"entity-type":"item","numeric-id":34636},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q831322$8E29890E-651D-4A55-9C67-F29E89A19E56","rank":"normal"}],"P214":[{"mainsnak":{"snaktype":"value","property":"P214","datavalue":{"value":"130251071","type":"string"},"datatype":"string"},"type":"statement","id":"Q831322$46AA8248-FFBB-4893-98A4-547A80BED8FC","rank":"normal","references":[{"hash":"aecf11d64b6a80a1b6e41304f5ca3d3f065aeb38","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":54919},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2015-08-05T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P2025":[{"mainsnak":{"snaktype":"value","property":"P2025","datavalue":{"value":"2138575","type":"string"},"datatype":"string"},"type":"statement","id":"Q831322$1840EAD5-956D-4B4A-B06D-DBDF8ECDF1DC","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Cementerio
        de la Recoleta.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q831322$e35fd54e-492d-e490-bfcc-07dac4cad658","rank":"normal"}],"P1791":[{"mainsnak":{"snaktype":"value","property":"P1791","datavalue":{"value":{"entity-type":"item","numeric-id":8328072},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q831322$822a5ac6-4a82-a4e7-dfe9-229d091c709b","rank":"normal"}]},"sitelinks":{"arwiki":{"site":"arwiki","title":"\u0645\u0642\u0628\u0631\u0629
        \u0644\u0627 \u0631\u064a\u0643\u0648\u0644\u064a\u062a\u0627","badges":[]},"azwiki":{"site":"azwiki","title":"Rekoleta
        q\u0259biristanl\u0131\u011f\u0131","badges":[]},"cawiki":{"site":"cawiki","title":"Cementiri
        de la Recoleta","badges":[]},"commonswiki":{"site":"commonswiki","title":"Category:Recoleta
        Cemetery","badges":[]},"dewiki":{"site":"dewiki","title":"Friedhof La Recoleta","badges":[]},"enwiki":{"site":"enwiki","title":"La
        Recoleta Cemetery","badges":[]},"eowiki":{"site":"eowiki","title":"Tombejo
        Rekoleta","badges":[]},"eswiki":{"site":"eswiki","title":"Cementerio de la
        Recoleta","badges":[]},"frwiki":{"site":"frwiki","title":"Cimeti\u00e8re de
        Recoleta","badges":[]},"idwiki":{"site":"idwiki","title":"Permakaman La Recoleta","badges":[]},"itwiki":{"site":"itwiki","title":"Cimitero
        della Recoleta","badges":[]},"nlwiki":{"site":"nlwiki","title":"La Recoleta
        Begraafplaats","badges":[]},"plwiki":{"site":"plwiki","title":"Cementerio
        de la Recoleta","badges":[]},"ptwiki":{"site":"ptwiki","title":"Cemit\u00e9rio
        da Recoleta","badges":[]},"ruwiki":{"site":"ruwiki","title":"\u041a\u043b\u0430\u0434\u0431\u0438\u0449\u0435
        \u0420\u0435\u043a\u043e\u043b\u0435\u0442\u0430","badges":[]},"svwiki":{"site":"svwiki","title":"Cementerio
        de La Recoleta","badges":[]},"ukwiki":{"site":"ukwiki","title":"\u0420\u0435\u043a\u043e\u043b\u0435\u0442\u0430
        (\u0446\u0432\u0438\u043d\u0442\u0430\u0440)","badges":[]}}},"Q328":{"pageid":521,"ns":0,"title":"Q328","lastrevid":298169035,"modified":"2016-01-31T07:39:50Z","type":"item","id":"Q328","labels":{"en":{"language":"en","value":"English
        Wikipedia"},"ru":{"language":"ru","value":"\u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0430\u044f
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f"},"fr":{"language":"fr","value":"Wikip\u00e9dia
        en anglais"},"nb":{"language":"nb","value":"Wikipedia p\u00e5 engelsk"},"ca":{"language":"ca","value":"Viquip\u00e8dia
        en angl\u00e8s"},"de":{"language":"de","value":"englischsprachige Wikipedia"},"it":{"language":"it","value":"Wikipedia
        in inglese"},"es":{"language":"es","value":"Wikipedia en ingl\u00e9s"},"en-ca":{"language":"en-ca","value":"English
        Wikipedia"},"en-gb":{"language":"en-gb","value":"English Wikipedia"},"fi":{"language":"fi","value":"englanninkielinen
        Wikipedia"},"af":{"language":"af","value":"Engelse Wikipedia"},"ar":{"language":"ar","value":"\u0648\u064a\u0643\u064a\u0628\u064a\u062f\u064a\u0627
        \u0627\u0644\u0625\u0646\u062c\u0644\u064a\u0632\u064a\u0629"},"arz":{"language":"arz","value":"\u0648\u064a\u0643\u064a\u0628\u064a\u062f\u064a\u0627
        \u0627\u0646\u062c\u0644\u064a\u0632\u0649"},"ast":{"language":"ast","value":"Wikipedia
        n''ingl\u00e9s"},"az":{"language":"az","value":"\u0130ngilisc\u0259 Vikipediya"},"be":{"language":"be","value":"\u0430\u043d\u0433\u043b\u0456\u0439\u0441\u043a\u0430\u044f
        \u0412\u0456\u043a\u0456\u043f\u0435\u0434\u044b\u044f"},"bg":{"language":"bg","value":"\u0423\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f
        \u043d\u0430 \u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438 \u0435\u0437\u0438\u043a"},"bn":{"language":"bn","value":"\u0987\u0982\u09b0\u09c7\u099c\u09bf
        \u0989\u0987\u0995\u09bf\u09aa\u09bf\u09a1\u09bf\u09af\u09bc\u09be"},"ckb":{"language":"ckb","value":"\u0648\u06cc\u06a9\u06cc\u067e\u06cc\u062f\u06cc\u0627\u06cc
        \u0626\u06cc\u0646\u06af\u0644\u06cc\u0632\u06cc"},"cs":{"language":"cs","value":"anglick\u00e1
        Wikipedie"},"cv":{"language":"cv","value":"\u0410\u043a\u0103\u043b\u0447\u0430\u043d
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0439\u0115"},"cy":{"language":"cy","value":"Wicipedia
        Saesneg"},"da":{"language":"da","value":"Engelsk Wikipedia"},"diq":{"language":"diq","value":"Wikipediya
        \u0130ng\u0131l\u0131zki"},"el":{"language":"el","value":"\u0391\u03b3\u03b3\u03bb\u03b9\u03ba\u03ae
        \u0392\u03b9\u03ba\u03b9\u03c0\u03b1\u03af\u03b4\u03b5\u03b9\u03b1"},"eo":{"language":"eo","value":"anglalingva
        Vikipedio"},"et":{"language":"et","value":"Ingliskeelne Vikipeedia"},"eu":{"language":"eu","value":"Ingelesezko
        Wikipedia"},"fa":{"language":"fa","value":"\u0648\u06cc\u06a9\u06cc\u200c\u067e\u062f\u06cc\u0627\u06cc
        \u0627\u0646\u06af\u0644\u06cc\u0633\u06cc"},"ga":{"language":"ga","value":"Vicip\u00e9id
        an Bh\u00e9arla"},"gl":{"language":"gl","value":"Wikipedia en ingl\u00e9s"},"he":{"language":"he","value":"\u05d5\u05d9\u05e7\u05d9\u05e4\u05d3\u05d9\u05d4
        \u05d4\u05d0\u05e0\u05d2\u05dc\u05d9\u05ea"},"hi":{"language":"hi","value":"\u0905\u0902\u0917\u094d\u0930\u0947\u091c\u093c\u0940
        \u0935\u093f\u0915\u093f\u092a\u0940\u0921\u093f\u092f\u093e"},"hr":{"language":"hr","value":"Wikipedija
        na engleskom jeziku"},"hu":{"language":"hu","value":"angol Wikip\u00e9dia"},"id":{"language":"id","value":"Wikipedia
        bahasa Inggris"},"ig":{"language":"ig","value":"Wikipedia nke nd\u1ecb bekee"},"ja":{"language":"ja","value":"\u82f1\u8a9e\u7248\u30a6\u30a3\u30ad\u30da\u30c7\u30a3\u30a2"},"ka":{"language":"ka","value":"\u10d8\u10dc\u10d2\u10da\u10d8\u10e1\u10e3\u10e0\u10d8
        \u10d5\u10d8\u10d9\u10d8\u10de\u10d4\u10d3\u10d8\u10d0"},"km":{"language":"km","value":"\u179c\u17b7\u1782\u17b8\u1797\u17b8\u178c\u17b6\u1797\u17b6\u179f\u17b6\u17a2\u1784\u17cb\u1782\u17d2\u179b\u17c1\u179f"},"ko":{"language":"ko","value":"\uc601\uc5b4
        \uc704\ud0a4\ubc31\uacfc"},"la":{"language":"la","value":"Vicipaedia Anglica"},"lt":{"language":"lt","value":"Angli\u0161koji
        Vikipedija"},"lv":{"language":"lv","value":"Vikip\u0113dija ang\u013cu valod\u0101"},"mk":{"language":"mk","value":"\u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0458\u0430
        \u043d\u0430 \u0430\u043d\u0433\u043b\u0438\u0441\u043a\u0438 \u0458\u0430\u0437\u0438\u043a"},"ml":{"language":"ml","value":"\u0d07\u0d02\u0d17\u0d4d\u0d32\u0d40\u0d37\u0d4d
        \u0d35\u0d3f\u0d15\u0d4d\u0d15\u0d3f\u0d2a\u0d40\u0d21\u0d3f\u0d2f"},"ms":{"language":"ms","value":"Wikipedia
        bahasa Inggeris"},"nl":{"language":"nl","value":"Engelstalige Wikipedia"},"bxr":{"language":"bxr","value":"\u0410\u0430\u043d\u0433\u043b\u0438
        \u0412\u0438\u043a\u0438\u043f\u0435\u044d\u0434\u0438"},"de-ch":{"language":"de-ch","value":"Englischsprachige
        Wikipedia"},"kk":{"language":"kk","value":"\u0410\u0493\u044b\u043b\u0448\u044b\u043d\u0448\u0430
        \u0423\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f"},"map-bms":{"language":"map-bms","value":"Wikipedia
        basa Inggris"},"mn":{"language":"mn","value":"\u0410\u043d\u0433\u043b\u0438
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0430"},"pa":{"language":"pa","value":"\u0a05\u0a70\u0a17\u0a30\u0a47\u0a1c\u0a3c\u0a40
        \u0a35\u0a3f\u0a15\u0a40\u0a2a\u0a40\u0a21\u0a40\u0a06"},"pl":{"language":"pl","value":"angloj\u0119zyczna
        Wikipedia"},"pt":{"language":"pt","value":"Wikip\u00e9dia em ingl\u00eas"},"pt-br":{"language":"pt-br","value":"Wikip\u00e9dia
        em ingl\u00eas"},"ro":{"language":"ro","value":"Wikipedia englez\u0103"},"sah":{"language":"sah","value":"\u0410\u0430\u04a5\u043b\u043b\u044b\u044b
        \u0411\u0438\u043a\u0438\u043f\u0438\u044d\u0434\u044c\u0438\u0439\u044d"},"sh":{"language":"sh","value":"Engleska
        Wikipedija"},"sk":{"language":"sk","value":"anglick\u00e1 Wikip\u00e9dia"},"sq":{"language":"sq","value":"Wikipedia
        anglisht"},"sr":{"language":"sr","value":"\u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0458\u0430
        \u043d\u0430 \u0435\u043d\u0433\u043b\u0435\u0441\u043a\u043e\u043c \u0458\u0435\u0437\u0438\u043a\u0443"},"sv":{"language":"sv","value":"Engelskspr\u00e5kiga
        Wikipedia"},"sw":{"language":"sw","value":"Wikipedia ya Kiingereza"},"ta":{"language":"ta","value":"\u0b86\u0b99\u0bcd\u0b95\u0bbf\u0bb2
        \u0bb5\u0bbf\u0b95\u0bcd\u0b95\u0bbf\u0baa\u0bcd\u0baa\u0bc0\u0b9f\u0bbf\u0baf\u0bbe"},"th":{"language":"th","value":"\u0e27\u0e34\u0e01\u0e34\u0e1e\u0e35\u0e40\u0e14\u0e35\u0e22\u0e20\u0e32\u0e29\u0e32\u0e2d\u0e31\u0e07\u0e01\u0e24\u0e29"},"tr":{"language":"tr","value":"\u0130ngilizce
        Vikipedi"},"tt":{"language":"tt","value":"\u0418\u043d\u0433\u043b\u0438\u0437
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f\u0441\u0435"},"uk":{"language":"uk","value":"\u0430\u043d\u0433\u043b\u0456\u0439\u0441\u044c\u043a\u0430
        \u0412\u0456\u043a\u0456\u043f\u0435\u0434\u0456\u044f"},"ur":{"language":"ur","value":"\u0627\u0646\u06af\u0631\u06cc\u0632\u06cc
        \u0648\u06cc\u06a9\u06cc\u067e\u06cc\u0688\u06cc\u0627"},"uz":{"language":"uz","value":"Inglizcha
        Vikipediya"},"vep":{"language":"vep","value":"Anglijan Vikipedii"},"vi":{"language":"vi","value":"Wikipedia
        ti\u1ebfng Anh"},"wuu":{"language":"wuu","value":"\u82f1\u8bed\u7ef4\u57fa\u767e\u79d1"},"yi":{"language":"yi","value":"\u05e2\u05e0\u05d2\u05dc\u05d9\u05e9\u05e2
[...]
