---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q617611
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=82551 t=1455702341526875
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q617611":{"pageid":581753,"ns":0,"title":"Q617611","lastrevid":304583851,"modified":"2016-02-17T09:43:34Z","type":"item","id":"Q617611","labels":{"es":{"language":"es","value":"Maestro
        de la Leyenda de Santa \u00darsula"},"de":{"language":"de","value":"Meister
        der Ursula-Legende"},"en":{"language":"en","value":"Master of the (Bruges)
        Legend of St. Ursula"},"fr":{"language":"fr","value":"Ma\u00eetre de la L\u00e9gende
        de sainte Ursule"},"it":{"language":"it","value":"Maestro della Leggenda di
        sant''Orsola"},"nl":{"language":"nl","value":"Meester van de Ursulalegende"},"pl":{"language":"pl","value":"Brugijski
        Mistrz Legendy \u015bw. Urszuli"},"pt":{"language":"pt","value":"Master of
        the Legend of Saint Ursula"}},"descriptions":{"de":{"language":"de","value":"fl\u00e4mischer
        Maler"},"fr":{"language":"fr","value":"peintre flamand"},"nl":{"language":"nl","value":"Nederlands
        kunstschilder"},"fa":{"language":"fa","value":"\u0646\u0642\u0627\u0634 \u0647\u0644\u0646\u062f\u06cc"},"en":{"language":"en","value":"painter
        from the Southern Netherlands, 1436 \u2013 1505"}},"aliases":{"de":[{"language":"de","value":"Pieter
        Casenbroot"},{"language":"de","value":"Meester van de (Brugse) Legende van
        de H. Ursula"}],"nl":[{"language":"nl","value":"Meester van de (Brugse) Legende
        van de H. Ursula"}],"fr":[{"language":"fr","value":"Meester van de (Brugse)
        Legende van de H. Ursula"}],"en":[{"language":"en","value":"Meester van de
        (Brugse) Legende van de H. Ursula"},{"language":"en","value":"Master of the
        Legend of St. Ursula"},{"language":"en","value":"Master of the Legend of Saint
        Ursula"},{"language":"en","value":"Master of the Ursula Legend"}]},"claims":{"P21":[{"mainsnak":{"snaktype":"somevalue","property":"P21","datatype":"wikibase-item"},"type":"statement","id":"q617611$AB8E2336-1A44-463B-879A-12992F128AD6","rank":"normal"}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Master
        of the (Bruges) legend of St. Ursula","type":"string"},"datatype":"string"},"type":"statement","id":"q617611$CD4E4317-6CB2-4EF6-8DAF-88DE9FC17014","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P227":[{"mainsnak":{"snaktype":"value","property":"P227","datavalue":{"value":"140955321","type":"string"},"datatype":"string"},"type":"statement","id":"q617611$7771E49C-9C75-4856-B794-0E05D105ADB8","rank":"normal","references":[{"hash":"004ec6fbee857649acdbdbad4f97b2c8571df97b","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P214":[{"mainsnak":{"snaktype":"value","property":"P214","datavalue":{"value":"120218905","type":"string"},"datatype":"string"},"type":"statement","id":"Q617611$CB2C34B3-EBDD-4A97-B8A5-A230E7FAE7F5","rank":"normal","references":[{"hash":"a51d6594fee36c7452eaed2db35a4833613a7078","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":54919},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/0464dxs","type":"string"},"datatype":"string"},"type":"statement","id":"Q617611$E7FD0299-DDA8-4953-87C9-1B8E951CE5A9","rank":"normal","references":[{"hash":"af38848ab5d9d9325cffd93a5ec656cc6ca889ed","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q617611$15A37B78-8853-478D-882A-63DEAB48A37E","rank":"normal"}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1436-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q617611$c2b44785-4528-efff-fc11-c2bf8951d4e3","rank":"normal"}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":1028181},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q617611$ADA26102-8A76-42C9-B036-C88F56C8988B","rank":"normal"}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":6581823},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q617611$8C853DCD-7ADE-41EE-95E5-97345BCED0E8","rank":"normal"}],"P650":[{"mainsnak":{"snaktype":"value","property":"P650","datavalue":{"value":"112129","type":"string"},"datatype":"string"},"type":"statement","id":"Q617611$F2706FDA-5942-45EE-ABB4-5365B180DA77","rank":"normal"}],"P1472":[{"mainsnak":{"snaktype":"value","property":"P1472","datavalue":{"value":"Master
        of the (Bruges) legend of St. Ursula","type":"string"},"datatype":"string"},"type":"statement","id":"Q617611$A02BE147-E387-4ACC-88B5-3AE8225A0DA8","rank":"normal","references":[{"hash":"3f12e959c196a5a4adc7f7d1ba480c2629b550f8","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":565},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P570":[{"mainsnak":{"snaktype":"value","property":"P570","datavalue":{"value":{"time":"+1504-06-24T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q617611$FDBCE475-03E5-4C74-9AE0-F9E7B27E5738","rank":"normal","references":[{"hash":"3f12e959c196a5a4adc7f7d1ba480c2629b550f8","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":565},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P800":[{"mainsnak":{"snaktype":"value","property":"P800","datavalue":{"value":{"entity-type":"item","numeric-id":17334188},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q617611$0AEF101E-B445-41E0-9BD1-EF058D0E9560","rank":"normal"}],"P1882":[{"mainsnak":{"snaktype":"value","property":"P1882","datavalue":{"value":"MASTER
        of the Legend of Saint Ursula (I)","type":"string"},"datatype":"string"},"type":"statement","id":"Q617611$9E64B244-D645-48F5-89AD-F413C165997B","rank":"normal"}],"P245":[{"mainsnak":{"snaktype":"value","property":"P245","datavalue":{"value":"500000158","type":"string"},"datatype":"string"},"type":"statement","id":"Q617611$25A0F702-108D-4543-B9ED-8101D03DECD4","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"novalue","property":"P735","datatype":"wikibase-item"},"type":"statement","qualifiers":{"P31":[{"snaktype":"value","property":"P31","hash":"d548bcc88052310b7a6fc9d61682d2dc0c2e62c5","datavalue":{"value":{"entity-type":"item","numeric-id":19968968},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P31"],"id":"Q617611$EFE51471-1910-4CB8-BDB3-9A9043FA8072","rank":"normal"}],"P2042":[{"mainsnak":{"snaktype":"value","property":"P2042","datavalue":{"value":"master-of-the-legend-of-saint-ursula","type":"string"},"datatype":"string"},"type":"statement","id":"Q617611$8E25DEAF-04F3-4E28-992A-C4A6599D90CD","rank":"normal"}],"P1343":[{"mainsnak":{"snaktype":"value","property":"P1343","datavalue":{"value":{"entity-type":"item","numeric-id":21712440},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P854":[{"snaktype":"value","property":"P854","hash":"71b10e2fad042efeed3658bbc61ced31212b1292","datavalue":{"value":"http://balat.kikirpa.be/peintres/Detail_notice.php?id=3619","type":"string"},"datatype":"url"}],"P813":[{"snaktype":"value","property":"P813","hash":"1c0263eb7129fc5d3027f8b3cc2e4679f21be75b","datavalue":{"value":{"time":"+2015-12-13T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P958":[{"snaktype":"value","property":"P958","hash":"83bf8a3f30e7201e4cc084ba3c2a2b63db58a261","datavalue":{"value":"3619","type":"string"},"datatype":"string"}]},"qualifiers-order":["P854","P813","P958"],"id":"Q617611$B66649B6-2683-4B74-8B12-35EE4B457C08","rank":"normal"}],"P1871":[{"mainsnak":{"snaktype":"value","property":"P1871","datavalue":{"value":"cnp01222097","type":"string"},"datatype":"string"},"type":"statement","id":"Q617611$F9FD7966-7ECC-47CF-BEDC-F15BB1096AB6","rank":"normal","references":[{"hash":"cd645ab3f02040ade645b6cfab2d1f377ed11793","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":1127581},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P2431":[{"mainsnak":{"snaktype":"value","property":"P2431","datavalue":{"value":"368","type":"string"},"datatype":"string"},"type":"statement","id":"Q617611$22d3fe07-41dc-305d-ca2d-e6a91e3899e9","rank":"normal"}],"P1889":[{"mainsnak":{"snaktype":"value","property":"P1889","datavalue":{"value":{"entity-type":"item","numeric-id":1918313},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q617611$200affa9-40b0-8bcf-dc00-3cdb81697c45","rank":"normal"}]},"sitelinks":{"dewiki":{"site":"dewiki","title":"Meister
        der (Br\u00fcgger) Ursula-Legende","badges":[]},"enwiki":{"site":"enwiki","title":"Master
        of the Legend of St. Ursula (Bruges)","badges":[]},"eswiki":{"site":"eswiki","title":"Maestro
        de la Leyenda de Santa \u00darsula","badges":[]},"frwiki":{"site":"frwiki","title":"Ma\u00eetre
        de la L\u00e9gende de sainte Ursule","badges":[]},"itwiki":{"site":"itwiki","title":"Maestro
        della Leggenda di sant''Orsola","badges":[]},"nlwiki":{"site":"nlwiki","title":"Meester
        van de Ursulalegende","badges":[]},"plwiki":{"site":"plwiki","title":"Brugijski
        Mistrz Legendy \u015bw. Urszuli","badges":[]}}}},"success":1}'
  recorded_at: Wed, 17 Feb 2016 09:45:41 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q328%7CQ48183%7CQ54919%7CQ15241312%7CQ5%7CQ1028181%7CQ6581823%7CQ565%7CQ17334188%7CQ19968968%7CQ21712440%7CQ1127581%7CQ1918313
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=206585 t=1455702341953819
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.37.235.135
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q328":{"pageid":521,"ns":0,"title":"Q328","lastrevid":301234137,"modified":"2016-02-06T09:56:14Z","type":"item","id":"Q328","labels":{"en":{"language":"en","value":"English
        Wikipedia"},"ru":{"language":"ru","value":"\u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0430\u044f
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f"},"fr":{"language":"fr","value":"Wikip\u00e9dia
        en anglais"},"nb":{"language":"nb","value":"Wikipedia p\u00e5 engelsk"},"ca":{"language":"ca","value":"Viquip\u00e8dia
        en angl\u00e8s"},"de":{"language":"de","value":"englischsprachige Wikipedia"},"it":{"language":"it","value":"Wikipedia
        in inglese"},"es":{"language":"es","value":"Wikipedia en ingl\u00e9s"},"en-ca":{"language":"en-ca","value":"English
        Wikipedia"},"en-gb":{"language":"en-gb","value":"English Wikipedia"},"fi":{"language":"fi","value":"englanninkielinen
        Wikipedia"},"af":{"language":"af","value":"Engelse Wikipedia"},"ar":{"language":"ar","value":"\u0648\u064a\u0643\u064a\u0628\u064a\u062f\u064a\u0627
        \u0627\u0644\u0625\u0646\u062c\u0644\u064a\u0632\u064a\u0629"},"arz":{"language":"arz","value":"\u0648\u064a\u0643\u064a\u0628\u064a\u062f\u064a\u0627
        \u0627\u0646\u062c\u0644\u064a\u0632\u0649"},"ast":{"language":"ast","value":"Wikipedia
        n''ingl\u00e9s"},"az":{"language":"az","value":"\u0130ngilisc\u0259 Vikipediya"},"be":{"language":"be","value":"\u0430\u043d\u0433\u043b\u0456\u0439\u0441\u043a\u0430\u044f
        \u0412\u0456\u043a\u0456\u043f\u0435\u0434\u044b\u044f"},"bg":{"language":"bg","value":"\u0423\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f
        \u043d\u0430 \u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438 \u0435\u0437\u0438\u043a"},"bn":{"language":"bn","value":"\u0987\u0982\u09b0\u09c7\u099c\u09bf
        \u0989\u0987\u0995\u09bf\u09aa\u09bf\u09a1\u09bf\u09af\u09bc\u09be"},"ckb":{"language":"ckb","value":"\u0648\u06cc\u06a9\u06cc\u067e\u06cc\u062f\u06cc\u0627\u06cc
        \u0626\u06cc\u0646\u06af\u0644\u06cc\u0632\u06cc"},"cs":{"language":"cs","value":"anglick\u00e1
        Wikipedie"},"cv":{"language":"cv","value":"\u0410\u043a\u0103\u043b\u0447\u0430\u043d
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0439\u0115"},"cy":{"language":"cy","value":"Wicipedia
        Saesneg"},"da":{"language":"da","value":"Engelsk Wikipedia"},"diq":{"language":"diq","value":"Wikipediya
        \u0130ng\u0131l\u0131zki"},"el":{"language":"el","value":"\u0391\u03b3\u03b3\u03bb\u03b9\u03ba\u03ae
        \u0392\u03b9\u03ba\u03b9\u03c0\u03b1\u03af\u03b4\u03b5\u03b9\u03b1"},"eo":{"language":"eo","value":"anglalingva
        Vikipedio"},"et":{"language":"et","value":"Ingliskeelne Vikipeedia"},"eu":{"language":"eu","value":"Ingelesezko
        Wikipedia"},"fa":{"language":"fa","value":"\u0648\u06cc\u06a9\u06cc\u200c\u067e\u062f\u06cc\u0627\u06cc
        \u0627\u0646\u06af\u0644\u06cc\u0633\u06cc"},"ga":{"language":"ga","value":"Vicip\u00e9id
        an Bh\u00e9arla"},"gl":{"language":"gl","value":"Wikipedia en ingl\u00e9s"},"he":{"language":"he","value":"\u05d5\u05d9\u05e7\u05d9\u05e4\u05d3\u05d9\u05d4
        \u05d4\u05d0\u05e0\u05d2\u05dc\u05d9\u05ea"},"hi":{"language":"hi","value":"\u0905\u0902\u0917\u094d\u0930\u0947\u091c\u093c\u0940
        \u0935\u093f\u0915\u093f\u092a\u0940\u0921\u093f\u092f\u093e"},"hr":{"language":"hr","value":"Wikipedija
        na engleskom jeziku"},"hu":{"language":"hu","value":"angol Wikip\u00e9dia"},"id":{"language":"id","value":"Wikipedia
        bahasa Inggris"},"ig":{"language":"ig","value":"Wikipedia nke nd\u1ecb bekee"},"ja":{"language":"ja","value":"\u82f1\u8a9e\u7248\u30a6\u30a3\u30ad\u30da\u30c7\u30a3\u30a2"},"ka":{"language":"ka","value":"\u10d8\u10dc\u10d2\u10da\u10d8\u10e1\u10e3\u10e0\u10d8
        \u10d5\u10d8\u10d9\u10d8\u10de\u10d4\u10d3\u10d8\u10d0"},"km":{"language":"km","value":"\u179c\u17b7\u1782\u17b8\u1797\u17b8\u178c\u17b6\u1797\u17b6\u179f\u17b6\u17a2\u1784\u17cb\u1782\u17d2\u179b\u17c1\u179f"},"ko":{"language":"ko","value":"\uc601\uc5b4
        \uc704\ud0a4\ubc31\uacfc"},"la":{"language":"la","value":"Vicipaedia Anglica"},"lt":{"language":"lt","value":"Angli\u0161koji
        Vikipedija"},"lv":{"language":"lv","value":"Vikip\u0113dija ang\u013cu valod\u0101"},"mk":{"language":"mk","value":"\u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0458\u0430
        \u043d\u0430 \u0430\u043d\u0433\u043b\u0438\u0441\u043a\u0438 \u0458\u0430\u0437\u0438\u043a"},"ml":{"language":"ml","value":"\u0d07\u0d02\u0d17\u0d4d\u0d32\u0d40\u0d37\u0d4d
        \u0d35\u0d3f\u0d15\u0d4d\u0d15\u0d3f\u0d2a\u0d40\u0d21\u0d3f\u0d2f"},"ms":{"language":"ms","value":"Wikipedia
        bahasa Inggeris"},"nl":{"language":"nl","value":"Engelstalige Wikipedia"},"bxr":{"language":"bxr","value":"\u0410\u0430\u043d\u0433\u043b\u0438
        \u0412\u0438\u043a\u0438\u043f\u0435\u044d\u0434\u0438"},"de-ch":{"language":"de-ch","value":"Englischsprachige
        Wikipedia"},"kk":{"language":"kk","value":"\u0410\u0493\u044b\u043b\u0448\u044b\u043d\u0448\u0430
        \u0423\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f"},"map-bms":{"language":"map-bms","value":"Wikipedia
        basa Inggris"},"mn":{"language":"mn","value":"\u0410\u043d\u0433\u043b\u0438
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0430"},"pa":{"language":"pa","value":"\u0a05\u0a70\u0a17\u0a30\u0a47\u0a1c\u0a3c\u0a40
        \u0a35\u0a3f\u0a15\u0a40\u0a2a\u0a40\u0a21\u0a40\u0a06"},"pl":{"language":"pl","value":"angloj\u0119zyczna
        Wikipedia"},"pt":{"language":"pt","value":"Wikip\u00e9dia em ingl\u00eas"},"pt-br":{"language":"pt-br","value":"Wikip\u00e9dia
        em ingl\u00eas"},"ro":{"language":"ro","value":"Wikipedia englez\u0103"},"sah":{"language":"sah","value":"\u0410\u0430\u04a5\u043b\u043b\u044b\u044b
        \u0411\u0438\u043a\u0438\u043f\u0438\u044d\u0434\u044c\u0438\u0439\u044d"},"sh":{"language":"sh","value":"Engleska
        Wikipedija"},"sk":{"language":"sk","value":"anglick\u00e1 Wikip\u00e9dia"},"sq":{"language":"sq","value":"Wikipedia
        anglisht"},"sr":{"language":"sr","value":"\u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u0458\u0430
        \u043d\u0430 \u0435\u043d\u0433\u043b\u0435\u0441\u043a\u043e\u043c \u0458\u0435\u0437\u0438\u043a\u0443"},"sv":{"language":"sv","value":"Engelskspr\u00e5kiga
        Wikipedia"},"sw":{"language":"sw","value":"Wikipedia ya Kiingereza"},"ta":{"language":"ta","value":"\u0b86\u0b99\u0bcd\u0b95\u0bbf\u0bb2
        \u0bb5\u0bbf\u0b95\u0bcd\u0b95\u0bbf\u0baa\u0bcd\u0baa\u0bc0\u0b9f\u0bbf\u0baf\u0bbe"},"th":{"language":"th","value":"\u0e27\u0e34\u0e01\u0e34\u0e1e\u0e35\u0e40\u0e14\u0e35\u0e22\u0e20\u0e32\u0e29\u0e32\u0e2d\u0e31\u0e07\u0e01\u0e24\u0e29"},"tr":{"language":"tr","value":"\u0130ngilizce
        Vikipedi"},"tt":{"language":"tt","value":"\u0418\u043d\u0433\u043b\u0438\u0437
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f\u0441\u0435"},"uk":{"language":"uk","value":"\u0430\u043d\u0433\u043b\u0456\u0439\u0441\u044c\u043a\u0430
        \u0412\u0456\u043a\u0456\u043f\u0435\u0434\u0456\u044f"},"ur":{"language":"ur","value":"\u0627\u0646\u06af\u0631\u06cc\u0632\u06cc
        \u0648\u06cc\u06a9\u06cc\u067e\u06cc\u0688\u06cc\u0627"},"uz":{"language":"uz","value":"Inglizcha
        Vikipediya"},"vep":{"language":"vep","value":"Anglijan Vikipedii"},"vi":{"language":"vi","value":"Wikipedia
        ti\u1ebfng Anh"},"wuu":{"language":"wuu","value":"\u82f1\u8bed\u7ef4\u57fa\u767e\u79d1"},"yi":{"language":"yi","value":"\u05e2\u05e0\u05d2\u05dc\u05d9\u05e9\u05e2
        \u05d5\u05d5\u05d9\u05e7\u05d9\u05e4\u05e2\u05d3\u05d9\u05e2"},"zh":{"language":"zh","value":"\u82f1\u8a9e\u7dad\u57fa\u767e\u79d1"},"yue":{"language":"yue","value":"\u82f1\u6587\u7dad\u57fa\u767e\u79d1"},"is":{"language":"is","value":"Enska
        Wikipedia"},"be-x-old":{"language":"be-x-old","value":"\u0430\u043d\u0433\u0435\u043b\u044c\u0441\u043a\u0430\u044f
        \u0412\u0456\u043a\u0456\u043f\u044d\u0434\u044b\u044f"},"zh-hans":{"language":"zh-hans","value":"\u82f1\u8bed\u7ef4\u57fa\u767e\u79d1"},"min":{"language":"min","value":"Wikipedia
        bahaso Inggris"},"sl":{"language":"sl","value":"Angle\u0161ka Wikipedija"},"nn":{"language":"nn","value":"Engelsk
        Wikipedia"},"nds":{"language":"nds","value":"engelsche Wikipedia"},"zh-hant":{"language":"zh-hant","value":"\u82f1\u8a9e\u7dad\u57fa\u767e\u79d1"},"mzn":{"language":"mzn","value":"\u0627\u0646\u06af\u0644\u06cc\u0633\u06cc
        \u0648\u06cc\u06a9\u06cc\u200c\u067e\u062f\u06cc\u0627"},"oc":{"language":"oc","value":"Wikip\u00e8dia
        anglesa"},"be-tarask":{"language":"be-tarask","value":"\u0410\u043d\u0433\u0435\u043b\u044c\u0441\u043a\u0430\u044f
        \u0412\u0456\u043a\u0456\u043f\u044d\u0434\u044b\u044f"},"zh-cn":{"language":"zh-cn","value":"\u82f1\u8bed\u7ef4\u57fa\u767e\u79d1"},"gu":{"language":"gu","value":"\u0a85\u0a82\u0a97\u0acd\u0ab0\u0ac7\u0a9c\u0ac0
        \u0ab5\u0abf\u0a95\u0abf\u0aaa\u0ac0\u0aa1\u0abf\u0aaf\u0abe"},"hy":{"language":"hy","value":"\u0531\u0576\u0563\u056c\u0565\u0580\u0565\u0576
        \u054e\u056b\u0584\u056b\u057a\u0565\u0564\u056b\u0561"},"bs":{"language":"bs","value":"Wikipedija
        na engleskom jeziku"},"sco":{"language":"sco","value":"Inglis Wikipaedia"},"te":{"language":"te","value":"\u0c06\u0c02\u0c17\u0c4d\u0c32
        \u0c35\u0c3f\u0c15\u0c40\u0c2a\u0c40\u0c21\u0c3f\u0c2f\u0c3e"},"or":{"language":"or","value":"\u0b07\u0b02\u0b30\u0b3e\u0b1c\u0b40
        \u0b09\u0b07\u0b15\u0b3f\u0b2a\u0b3f\u0b21\u0b3c\u0b3f\u0b06"},"zh-hk":{"language":"zh-hk","value":"\u82f1\u6587\u7dad\u57fa\u767e\u79d1"},"ce":{"language":"ce","value":"\u0418\u043d\u0433\u0430\u043b\u0441\u0430\u043d
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438"},"sgs":{"language":"sgs","value":"Ongl\u0117\u0161ka
        Vikiped\u0117j\u0117"},"lb":{"language":"lb","value":"Wikipedia op Englesch"},"lzh":{"language":"lzh","value":"\u82f1\u6587\u7dad\u57fa\u5927\u5178(\u4eca)"},"scn":{"language":"scn","value":"Wikipedia
        in ngrisi"},"ang":{"language":"ang","value":"Wikip\u01e3dia:Stylistic and
        font options"},"fy":{"language":"fy","value":"Ingelsktalige Wikipedy"},"zh-tw":{"language":"zh-tw","value":"\u82f1\u8a9e\u7dad\u57fa\u767e\u79d1"},"sc":{"language":"sc","value":"Bichipedia
        in inglesa"},"roa-tara":{"language":"roa-tara","value":"Uicchip\u00e8die ''nglese"},"nan":{"language":"nan","value":"Eng-g\u00ed
        Wikipedia"},"nds-nl":{"language":"nds-nl","value":"Engelse Wikipedie"},"udm":{"language":"udm","value":"\u0410\u043d\u0433\u043b\u0438
        \u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f"},"ne":{"language":"ne","value":"\u0905\u0919\u094d\u0917\u094d\u0930\u0947\u091c\u0940
        \u0935\u093f\u0915\u093f\u092a\u093f\u0921\u093f\u092f\u093e"},"ku":{"language":"ku","value":"W\u00eek\u00eepediya
        \u00eengil\u00eez\u00ee"},"ilo":{"language":"ilo","value":"Wikipedia nga Ingles"},"lrc":{"language":"lrc","value":"\u0648\u06cc\u06a9\u06cc
        \u067e\u062f\u06cc\u0627 \u0627\u06cc\u0646\u06af\u06cc\u0644\u06cc\u0633\u06cc"},"hak":{"language":"hak","value":"Y\u00een-ng\u00ee
        V\u00ec-k\u00ee Pak-kh\u00f4"},"sd":{"language":"sd","value":"\u0627\u0646\u06af\u0631\u064a\u0632\u064a
        \u0648\u06aa\u064a\u067e\u064a\u068a\u064a\u0627"},"ps":{"language":"ps","value":"\u0627\u0646\u06af\u0644\u064a\u0633\u064a
        \u0648\u064a\u06a9\u064a\u067e\u06d0\u0689\u064a\u0627"},"fo":{"language":"fo","value":"Ensk
        Wikipedia"},"hsb":{"language":"hsb","value":"jend\u017aelska Wikipedija"},"frr":{"language":"frr","value":"Ingelsk
        Wikipedia"}},"descriptions":{"nb":{"language":"nb","value":"den engelskspr\u00e5klige
        utgaven av Wikipedia"},"fr":{"language":"fr","value":"version de l''encyclop\u00e9die
        Wikip\u00e9dia en langue anglaise"},"it":{"language":"it","value":"edizione
        in lingua inglese di Wikipedia"},"en":{"language":"en","value":"English language
        edition of Wikipedia, the free encyclopedia"},"es":{"language":"es","value":"versi\u00f3n
      [...]
