---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q1162691
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 146.199.13.70
    body:
      encoding: UTF-8
      string: '{"entities":{"Q1162691":{"pageid":1108823,"ns":0,"title":"Q1162691","lastrevid":246631359,"modified":"2015-08-30T18:33:40Z","type":"item","id":"Q1162691","labels":{"pt":{"language":"pt","value":"Partido
        Nacional Popular"},"zh-hans":{"language":"zh-hans","value":"\u4eba\u6c11\u56fd\u5bb6\u515a"},"zh-hant":{"language":"zh-hant","value":"\u4eba\u6c11\u570b\u5bb6\u9ee8"},"zh-hk":{"language":"zh-hk","value":"\u4eba\u6c11\u570b\u5bb6\u9ee8"},"pl":{"language":"pl","value":"Ludowa
        Partia Narodowa"},"ru":{"language":"ru","value":"\u041d\u0430\u0440\u043e\u0434\u043d\u0430\u044f
        \u043d\u0430\u0446\u0438\u043e\u043d\u0430\u043b\u044c\u043d\u0430\u044f \u043f\u0430\u0440\u0442\u0438\u044f"},"fr":{"language":"fr","value":"Parti
        national du peuple"},"es":{"language":"es","value":"Partido Nacional del Pueblo"},"en":{"language":"en","value":"People''s
        National Party"},"de":{"language":"de","value":"People\u2019s National Party"},"id":{"language":"id","value":"Partai
        Rakyat Nasional"},"ja":{"language":"ja","value":"\u4eba\u6c11\u56fd\u5bb6\u515a"},"vi":{"language":"vi","value":"\u0110\u1ea3ng
        Qu\u1ed1c gia Nh\u00e2n d\u00e2n"},"bg":{"language":"bg","value":"\u041d\u0430\u0440\u043e\u0434\u043d\u0430
        \u043d\u0430\u0446\u0438\u043e\u043d\u0430\u043b\u043d\u0430 \u043f\u0430\u0440\u0442\u0438\u044f"},"sh":{"language":"sh","value":"\u041d\u0430\u0440\u043e\u0434\u043d\u0430
        \u043d\u0430\u0446\u0438\u043e\u043d\u0430\u043b\u043d\u0430 \u043f\u0430\u0440\u0442\u0438\u0458\u0430"},"ka":{"language":"ka","value":"\u10d8\u10d0\u10db\u10d0\u10d8\u10d9\u10d8\u10e1
        \u10e1\u10d0\u10ee\u10d0\u10da\u10ee\u10dd \u10dc\u10d0\u10ea\u10d8\u10dd\u10dc\u10d0\u10da\u10e3\u10e0\u10d8
        \u10de\u10d0\u10e0\u10e2\u10d8\u10d0"},"lt":{"language":"lt","value":"Jamaikos
        liaudies nacionalin\u0117 partija"},"sv":{"language":"sv","value":"People''s
        National Party"},"nl":{"language":"nl","value":"People''s National Party"},"zh":{"language":"zh","value":"\u4eba\u6c11\u56fd\u5bb6\u515a"},"it":{"language":"it","value":"Partito
        Nazionale del Popolo"},"he":{"language":"he","value":"\u05de\u05e4\u05dc\u05d2\u05ea
        \u05d4\u05e2\u05dd \u05d4\u05dc\u05d0\u05d5\u05de\u05d9\u05ea"},"ko":{"language":"ko","value":"\uc778\ubbfc\ubbfc\uc871\ub2f9"},"nb":{"language":"nb","value":"People''s
        National Party"}},"descriptions":{"de":{"language":"de","value":"jamaikanische
        Partei"},"en":{"language":"en","value":"Jamaican political party"},"it":{"language":"it","value":"partito
        politico giamaicano"}},"aliases":{"pt":[{"language":"pt","value":"Jamaican
        people''s national party"}],"ru":[{"language":"ru","value":"\u041d\u0430\u0440\u043e\u0434\u043d\u0430\u044f
        \u043d\u0430\u0446\u0438\u043e\u043d\u0430\u043b\u044c\u043d\u0430\u044f \u043f\u0430\u0440\u0442\u0438\u044f
        \u042f\u043c\u0430\u0439\u043a\u0438"}],"es":[{"language":"es","value":"People''s
        National Party"}],"de":[{"language":"de","value":"People''s National Party"}]},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":7278},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1162691$4334D83F-25E7-43B1-AB32-DF60CC7AD7CE","rank":"normal"}],"P17":[{"mainsnak":{"snaktype":"value","property":"P17","datavalue":{"value":{"entity-type":"item","numeric-id":766},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1162691$5CC02401-6B97-46AF-BBF2-8574DE45E900","rank":"normal"}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/01d5dd","type":"string"},"datatype":"string"},"type":"statement","id":"Q1162691$D81DEE99-18CF-489D-BE65-86793A0D08AA","rank":"normal","references":[{"hash":"af38848ab5d9d9325cffd93a5ec656cc6ca889ed","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P856":[{"mainsnak":{"snaktype":"value","property":"P856","datavalue":{"value":"http://www.pnpjamaica.com/","type":"string"},"datatype":"url"},"type":"statement","id":"Q1162691$4A0F9E55-30B1-4EEB-B468-F3F422F6439F","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P159":[{"mainsnak":{"snaktype":"value","property":"P159","datavalue":{"value":{"entity-type":"item","numeric-id":34692},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1162691$669C45E7-51FD-423D-BA6F-A3D9A57D9E86","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P1142":[{"mainsnak":{"snaktype":"value","property":"P1142","datavalue":{"value":{"entity-type":"item","numeric-id":121254},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1162691$4DE8CD76-FC84-44B9-9E08-101E3D46860F","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P571":[{"mainsnak":{"snaktype":"value","property":"P571","datavalue":{"value":{"time":"+1938-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q1162691$E8F65B86-062B-4355-A2F7-6F8B42563ABD","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P488":[{"mainsnak":{"snaktype":"value","property":"P488","datavalue":{"value":{"entity-type":"item","numeric-id":57597},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1162691$14AD63A0-74D8-4D86-A328-A0B0625D7F31","rank":"normal","references":[{"hash":"f70116eac7f49194478b3025330bfd8dcffa3c69","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8447},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}]},"sitelinks":{"bgwiki":{"site":"bgwiki","title":"\u041d\u0430\u0440\u043e\u0434\u043d\u0430
        \u043d\u0430\u0446\u0438\u043e\u043d\u0430\u043b\u043d\u0430 \u043f\u0430\u0440\u0442\u0438\u044f","badges":[]},"dewiki":{"site":"dewiki","title":"People\u2019s
        National Party","badges":[]},"enwiki":{"site":"enwiki","title":"People''s
        National Party","badges":[]},"eswiki":{"site":"eswiki","title":"Partido Nacional
        del Pueblo","badges":[]},"frwiki":{"site":"frwiki","title":"Parti national
        du peuple (Jama\u00efque)","badges":[]},"hewiki":{"site":"hewiki","title":"\u05de\u05e4\u05dc\u05d2\u05ea
        \u05d4\u05e2\u05dd \u05d4\u05dc\u05d0\u05d5\u05de\u05d9\u05ea (\u05d2''\u05de\u05d9\u05d9\u05e7\u05d4)","badges":[]},"idwiki":{"site":"idwiki","title":"Partai
        Rakyat Nasional","badges":[]},"jawiki":{"site":"jawiki","title":"\u4eba\u6c11\u56fd\u5bb6\u515a","badges":[]},"kawiki":{"site":"kawiki","title":"\u10d8\u10d0\u10db\u10d0\u10d8\u10d9\u10d8\u10e1
        \u10e1\u10d0\u10ee\u10d0\u10da\u10ee\u10dd \u10dc\u10d0\u10ea\u10d8\u10dd\u10dc\u10d0\u10da\u10e3\u10e0\u10d8
        \u10de\u10d0\u10e0\u10e2\u10d8\u10d0","badges":[]},"kowiki":{"site":"kowiki","title":"\uc778\ubbfc\ubbfc\uc871\ub2f9","badges":[]},"ltwiki":{"site":"ltwiki","title":"Jamaikos
        liaudies nacionalin\u0117 partija","badges":[]},"nlwiki":{"site":"nlwiki","title":"People''s
        National Party","badges":[]},"plwiki":{"site":"plwiki","title":"Ludowa Partia
        Narodowa","badges":[]},"ptwiki":{"site":"ptwiki","title":"Partido Nacional
        Popular (Jamaica)","badges":[]},"ruwiki":{"site":"ruwiki","title":"\u041d\u0430\u0440\u043e\u0434\u043d\u0430\u044f
        \u043d\u0430\u0446\u0438\u043e\u043d\u0430\u043b\u044c\u043d\u0430\u044f \u043f\u0430\u0440\u0442\u0438\u044f
        (\u042f\u043c\u0430\u0439\u043a\u0430)","badges":[]},"shwiki":{"site":"shwiki","title":"Narodna
        nacionalna partija (Jamajka)","badges":[]},"svwiki":{"site":"svwiki","title":"People''s
        National Party","badges":[]},"viwiki":{"site":"viwiki","title":"\u0110\u1ea3ng
        Qu\u1ed1c gia Nh\u00e2n d\u00e2n","badges":[]},"zhwiki":{"site":"zhwiki","title":"\u4eba\u6c11\u6c11\u65cf\u515a","badges":[]}}}},"success":1}'
  recorded_at: Fri, 27 Nov 2015 17:16:54 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q7278%7CQ766%7CQ15241312%7CQ328%7CQ34692%7CQ121254%7CQ57597%7CQ8447
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 146.199.13.70
    body:
      encoding: UTF-8
      string: '{"entities":{"Q7278":{"pageid":8483,"ns":0,"title":"Q7278","lastrevid":275864890,"modified":"2015-11-23T00:16:52Z","type":"item","id":"Q7278","labels":{"en":{"language":"en","value":"political
        party"},"it":{"language":"it","value":"partito politico"},"en-ca":{"language":"en-ca","value":"political
        party"},"en-gb":{"language":"en-gb","value":"political party"},"af":{"language":"af","value":"politieke
        party"},"an":{"language":"an","value":"partito politico"},"ar":{"language":"ar","value":"\u062d\u0632\u0628
        \u0633\u064a\u0627\u0633\u064a"},"arc":{"language":"arc","value":"\u0713\u0712\u0710"},"arz":{"language":"arz","value":"\u062d\u0632\u0628
        \u0633\u064a\u0627\u0633\u0649"},"ast":{"language":"ast","value":"part\u00edu
        pol\u00edticu"},"bar":{"language":"bar","value":"politische Partei"},"be":{"language":"be","value":"\u043f\u0430\u043b\u0456\u0442\u044b\u0447\u043d\u0430\u044f
        \u043f\u0430\u0440\u0442\u044b\u044f"},"bg":{"language":"bg","value":"\u041f\u043e\u043b\u0438\u0442\u0438\u0447\u0435\u0441\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u044f"},"br":{"language":"br","value":"Strollad
        politikel"},"bs":{"language":"bs","value":"politi\u010dka stranka"},"ca":{"language":"ca","value":"partit
        pol\u00edtic"},"cs":{"language":"cs","value":"politick\u00e1 strana"},"cy":{"language":"cy","value":"Plaid
        wleidyddol"},"da":{"language":"da","value":"politisk parti"},"de":{"language":"de","value":"politische
        Partei"},"diq":{"language":"diq","value":"Partiy"},"el":{"language":"el","value":"\u03c0\u03bf\u03bb\u03b9\u03c4\u03b9\u03ba\u03cc
        \u03ba\u03cc\u03bc\u03bc\u03b1"},"eo":{"language":"eo","value":"partio"},"es":{"language":"es","value":"partido
        pol\u00edtico"},"et":{"language":"et","value":"Erakond"},"eu":{"language":"eu","value":"Alderdi
        politiko"},"fa":{"language":"fa","value":"\u062d\u0632\u0628"},"fi":{"language":"fi","value":"puolue"},"fr":{"language":"fr","value":"parti
        politique"},"fy":{"language":"fy","value":"politike partij"},"ga":{"language":"ga","value":"P\u00e1irt\u00ed
        polait\u00edochta"},"gd":{"language":"gd","value":"P\u00e0rtaidh phoileatagach"},"gl":{"language":"gl","value":"Partido
        pol\u00edtico"},"he":{"language":"he","value":"\u05de\u05e4\u05dc\u05d2\u05d4"},"hi":{"language":"hi","value":"\u0930\u093e\u091c\u0928\u0940\u0924\u093f\u0915
        \u0926\u0932"},"hif":{"language":"hif","value":"Rajnetic dal"},"hr":{"language":"hr","value":"Politi\u010dka
        stranka"},"hu":{"language":"hu","value":"p\u00e1rt"},"hy":{"language":"hy","value":"\u056f\u0578\u0582\u057d\u0561\u056f\u0581\u0578\u0582\u0569\u0575\u0578\u0582\u0576"},"id":{"language":"id","value":"Partai
        politik"},"is":{"language":"is","value":"Stj\u00f3rnm\u00e1laflokkur"},"ja":{"language":"ja","value":"\u653f\u515a"},"jv":{"language":"jv","value":"Partai
        pulitik"},"ka":{"language":"ka","value":"\u10de\u10dd\u10da\u10d8\u10e2\u10d8\u10d9\u10e3\u10e0\u10d8
        \u10de\u10d0\u10e0\u10e2\u10d8\u10d0"},"kk":{"language":"kk","value":"\u0421\u0430\u044f\u0441\u0438
        \u043f\u0430\u0440\u0442\u0438\u044f"},"kn":{"language":"kn","value":"\u0cb0\u0cbe\u0c9c\u0c95\u0cc0\u0caf
        \u0caa\u0c95\u0ccd\u0cb7"},"ko":{"language":"ko","value":"\uc815\ub2f9"},"krc":{"language":"krc","value":"\u041f\u043e\u043b\u0438\u0442\u0438\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u044f"},"la":{"language":"la","value":"Factio
        politica"},"lb":{"language":"lb","value":"Politesch Partei"},"ln":{"language":"ln","value":"Ling\u00f3mb\u00e1
        lya polit\u00edki"},"lt":{"language":"lt","value":"Politin\u0117 partija"},"lv":{"language":"lv","value":"politisk\u0101
        partija"},"mk":{"language":"mk","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u0458\u0430"},"ml":{"language":"ml","value":"\u0d30\u0d3e\u0d37\u0d4d\u0d1f\u0d4d\u0d30\u0d40\u0d2f
        \u0d2a\u0d3e\u0d7c\u0d1f\u0d4d\u0d1f\u0d3f"},"mn":{"language":"mn","value":"\u0423\u043b\u0441
        \u0442\u04e9\u0440\u0438\u0439\u043d \u043d\u0430\u043c"},"mr":{"language":"mr","value":"\u0930\u093e\u091c\u0915\u0940\u092f
        \u092a\u0915\u094d\u0937"},"ms":{"language":"ms","value":"Parti politik"},"my":{"language":"my","value":"\u1014\u102d\u102f\u1004\u103a\u1004\u1036\u101b\u1031\u1038\u1015\u102b\u1010\u102e"},"new":{"language":"new","value":"\u0926\u0932"},"nl":{"language":"nl","value":"politieke
        partij"},"nn":{"language":"nn","value":"politisk parti"},"oc":{"language":"oc","value":"partit
        politic"},"pfl":{"language":"pfl","value":"Bolidischi Pardai"},"pl":{"language":"pl","value":"partia
        polityczna"},"pnb":{"language":"pnb","value":"\u0633\u06cc\u0627\u0633\u06cc
        \u067e\u0627\u0631\u0679\u06cc"},"ps":{"language":"ps","value":"\u06ab\u0648\u0646\u062f"},"pt":{"language":"pt","value":"partido
        pol\u00edtico"},"pt-br":{"language":"pt-br","value":"Partido pol\u00edtico"},"qu":{"language":"qu","value":"Partidu"},"ro":{"language":"ro","value":"partid
        politic"},"ru":{"language":"ru","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u0435\u0441\u043a\u0430\u044f
        \u043f\u0430\u0440\u0442\u0438\u044f"},"rue":{"language":"rue","value":"\u041f\u043e\u043b\u0456\u0442\u0456\u0447\u043d\u0430
        \u043f\u0430\u0440\u0442\u0456\u044f"},"sah":{"language":"sah","value":"\u041f\u043e\u043b\u0438\u0442\u0438\u043a\u0430
        \u043f\u0430\u0440\u0442\u0438\u044f\u0442\u0430"},"scn":{"language":"scn","value":"partitu
        pul\u00ecticu"},"sh":{"language":"sh","value":"Politi\u010dka stranka"},"sk":{"language":"sk","value":"Politick\u00e1
        strana"},"sl":{"language":"sl","value":"Politi\u010dna stranka"},"so":{"language":"so","value":"Xisbi"},"sr":{"language":"sr","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u043a\u0430
        \u0441\u0442\u0440\u0430\u043d\u043a\u0430"},"sv":{"language":"sv","value":"Politiskt
        parti"},"sw":{"language":"sw","value":"Chama cha kisiasa"},"ta":{"language":"ta","value":"\u0b85\u0bb0\u0b9a\u0bbf\u0baf\u0bb2\u0bcd
        \u0b95\u0b9f\u0bcd\u0b9a\u0bbf"},"te":{"language":"te","value":"\u0c30\u0c3e\u0c1c\u0c15\u0c40\u0c2f
        \u0c2a\u0c3e\u0c30\u0c4d\u0c1f\u0c40"},"th":{"language":"th","value":"\u0e1e\u0e23\u0e23\u0e04\u0e01\u0e32\u0e23\u0e40\u0e21\u0e37\u0e2d\u0e07"},"tl":{"language":"tl","value":"Partidong
        politikal"},"tr":{"language":"tr","value":"Siyasi parti"},"tt":{"language":"tt","value":"\u0421\u04d9\u044f\u0441\u0438
        \u0444\u0438\u0440\u043a\u0430\u043b\u04d9\u0440"},"uk":{"language":"uk","value":"\u041f\u043e\u043b\u0456\u0442\u0438\u0447\u043d\u0430
        \u043f\u0430\u0440\u0442\u0456\u044f"},"ur":{"language":"ur","value":"\u0633\u06cc\u0627\u0633\u06cc
        \u062c\u0645\u0627\u0639\u062a"},"vec":{"language":"vec","value":"Partito
        pu\u0142itego"},"vi":{"language":"vi","value":"\u0110\u1ea3ng ph\u00e1i ch\u00ednh
        tr\u1ecb"},"war":{"language":"war","value":"Partido politikal"},"yi":{"language":"yi","value":"\u05e4\u05d0\u05dc\u05d9\u05d8\u05d9\u05e9\u05e2
        \u05e4\u05d0\u05e8\u05d8\u05d9\u05d9"},"yo":{"language":"yo","value":"\u1eb8gb\u1eb9\u0301
        ol\u00f3\u1e63\u00e8l\u00fa"},"zh":{"language":"zh","value":"\u653f\u515a"},"zh-cn":{"language":"zh-cn","value":"\u653f\u515a"},"zh-tw":{"language":"zh-tw","value":"\u653f\u9ee8"},"zh-sg":{"language":"zh-sg","value":"\u653f\u515a"},"zh-mo":{"language":"zh-mo","value":"\u653f\u9ee8"},"zh-hans":{"language":"zh-hans","value":"\u653f\u515a"},"zh-hant":{"language":"zh-hant","value":"\u653f\u9ee8"},"zh-hk":{"language":"zh-hk","value":"\u653f\u9ee8"},"zh-my":{"language":"zh-my","value":"\u653f\u515a"},"az":{"language":"az","value":"Siyasi
        partiya"},"ilo":{"language":"ilo","value":"Partido politiko"},"nb":{"language":"nb","value":"politisk
        parti"},"nds":{"language":"nds","value":"Politsche Partei"},"simple":{"language":"simple","value":"Political
        party"},"pms":{"language":"pms","value":"Part\u00ec pol\u00ectich"},"si":{"language":"si","value":"\u0daf\u0dda\u0dc1\u0db4\u0dcf\u0dbd\u0db1
        \u0db4\u0d9a\u0dca\u0dc2 \u0d9a\u0dca\u200d\u0dbb\u0db8"},"be-tarask":{"language":"be-tarask","value":"\u043f\u0430\u043b\u0456\u0442\u044b\u0447\u043d\u0430\u044f
        \u043f\u0430\u0440\u0442\u044b\u044f"},"uz":{"language":"uz","value":"Siyosiy
        partiyalar"},"ckb":{"language":"ckb","value":"\u062d\u06cc\u0632\u0628"},"yue":{"language":"yue","value":"\u653f\u9ee8"},"sco":{"language":"sco","value":"poleetical
        pairty"},"or":{"language":"or","value":"\u0b30\u0b3e\u0b1c\u0b28\u0b40\u0b24\u0b3f\u0b15
        \u0b26\u0b33"},"pa":{"language":"pa","value":"\u0a30\u0a3e\u0a1c\u0a28\u0a40\u0a24\u0a15
        \u0a2a\u0a3e\u0a30\u0a1f\u0a40"},"nan":{"language":"nan","value":"Ch\u00e8ng-t\u00f3ng"},"sgs":{"language":"sgs","value":"Puolit\u0117n\u0117
        part\u0117j\u0117"},"gn":{"language":"gn","value":"Aty ojokuaikua\u00e1va"},"sr-ec":{"language":"sr-ec","value":"\u043f\u043e\u043b\u0438\u0442\u0438\u0447\u043a\u0430
        \u0441\u0442\u0440\u0430\u043d\u043a\u0430"},"sr-el":{"language":"sr-el","value":"politi\u010dka
        stranka"},"ie":{"language":"ie","value":"Political partise"},"mg":{"language":"mg","value":"Antoko
        politika"},"gsw":{"language":"gsw","value":"Partei"},"li":{"language":"li","value":"Politische
        partie"},"ba":{"language":"ba","value":"\u0421\u04d9\u0439\u04d9\u0441\u0438
        \u0444\u0438\u0440\u04a1\u04d9"},"bn":{"language":"bn","value":"\u09b0\u09be\u099c\u09a8\u09c8\u09a4\u09bf\u0995
        \u09a6\u09b2"}},"descriptions":{"en":{"language":"en","value":"organization
        that seeks to influence government policy and actions"},"it":{"language":"it","value":"associazione
        tra persone accomunate da una medesima finalit\u00e0 politica"},"es":{"language":"es","value":"asociaci\u00f3n
        de individuos unidos por objetivos comunes y que persiguen como meta alcanzar
        el control del gobie[...]
